$(".remaining_count").text("<%= @remaining_count %>品")
$(".prepared_number_<%= @store_daily_menu_detail.id %>").text("<%= @store_daily_menu_detail.prepared_number %> 食")
$(".excess_or_deficiency_number_<%= @store_daily_menu_detail.id %>").text("<%= @store_daily_menu_detail.excess_or_deficiency_number %> 食")
// $(".histories_<%= @store_daily_menu_detail.id %>").append("<div class='history_<%= @store_daily_menu_detail_history.id %>'><span> <%= @i+1 %>：<%= @store_daily_menu_detail_history.number %> 食（ <%= @store_daily_menu_detail_history.updated_at.strftime('%H:%M') %> ）</span></div>");
$(".histories_<%= @store_daily_menu_detail.id %>").html("<%= escape_javascript(render partial: 'store_daily_menus/histories', locals: {sdmd:@store_daily_menu_detail}) %>");
$("#sdmd_<%= @store_daily_menu_detail.id %>_form").html("<%= escape_javascript(render partial: 'store_daily_menus/preperation', locals: {sdmd:@store_daily_menu_detail}) %>");
