
<div class="panel panel-info">
	<div class="panel-heading">
		更新履歴　ｷﾀ━━━━(*ﾟ∀ﾟ)っﾟ∀ﾟ)っﾟ∀ﾟ)っ━━━━!
	</div>
	<div class="panel-body" style="height:150px;" id="scroll">
    <ul style="list-style:none;" >
      <li style="color:#777777;margin:5px;"><span class="label label-default">New</span>【 11/29 】メニューの作成、編集時に食材の順番を入替えられるようにしました！！</li>
    </ul>
	</div>
</div>


<div class="top_menu col-xs-12 col-md-12">
  <h3>【発注】</h3>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '新規発注', "/orders", method: :get, class:"top_button btn btn-primary" %>
  </div>
</div>

<div class="top_menu col-xs-12 col-md-12">
  <h3>【お弁当】</h3>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '一覧を見る', "/products", method: :get, class:"top_button btn btn-primary"%>
  </div>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '新規登録', "/products/new", method: :get, class:"top_button btn btn-primary" %>
  </div>
</div>


<div class="top_menu col-xs-12 col-md-12">
  <h3>【メニュー】</h3>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '一覧を見る', "/menus", method: :get, class:"top_button btn btn-primary" %>
  </div>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '新規登録', "/menus/new", method: :get, class:"top_button btn btn-primary" %>
  </div>
</div>


<div class="top_menu col-xs-12 col-md-12">
  <h3>【食材・資材】</h3>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '一覧を見る', "/materials", method: :get, class:"top_button btn btn-primary" %>
  </div>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '新規登録', "/materials/new", method: :get, class:"top_button btn btn-primary" %>
  </div>
</div>

<div class="top_menu col-xs-12 col-md-12">
  <h3>【仕入先企業】</h3>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '一覧を見る', "/vendors", method: :get, class:"top_button btn btn-primary" %>
  </div>
  <div class="child_menu col-xs-6 col-md-3">
    <%= button_to '新規登録', "/vendors/new", method: :get, class:"top_button btn btn-primary" %>
  </div>
</div>
