

  <%= form_for(@menu) do |f| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name ,'メニュー名' %><br>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="field">
      <%= f.label :category ,'カテゴリー' %><br>
      <%= f.text_field :category %>
    </div>
    <div class="field">
      <%= f.label :recipe ,'調理メモ' %><br>
      <%= f.text_field :recipe, required: true %>
    </div>
    <div class="field">
      <%= f.label :serving_memo ,'盛り付けメモ' %><br>
      <%= f.text_field :serving_memo %>
    </div>
    <div class="field">
      <%= f.label :cost_price ,'メニュー原価' %><br>
      <%= f.text_field :cost_price %>
    </div>

    <table class="table table-list">
      <thead>
        <tr>
          <th>食材・資材名</th>
          <th>原価</th>
          <th>使用量</th>
          <th>使用価格</th>
          <th></th>
        </tr>
      </thead>


        <tbody id='detail-association-insertion-point'>
        <%= f.fields_for :menu_materials do |builder| %>
          <%= render 'menu_material_fields', f: builder %>
        <% end %>
        </tbody>

    </table>

      <%= link_to_add_association "add Material", f, :menu_materials,
            data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'append' } %>


    <div class="actions">
      <%= f.submit '登録' %>
    </div>
  <% end %>
