<%= form_for @menu do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@menu.errors.count, "箇所") %>入力に不備があります</b>
      <ul style="list-style:none;">
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <nav class="alert alert-danger eos-alert navbar-fixed-top" style="display:none;">
      終売の食材を選択しています。食材を変更してください(((；ﾟДﾟ)))
  </nav>
  <div class="form-group col-md-4">
    <%= f.label :name ,'メニュー名' %><br>
    <%= f.text_field :name, class: "form-control", id: "material_name",style:"width:100%;" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :food_label_name ,'食品表示名' %><br>
    <%= f.text_field :food_label_name, class: "form-control", id: "food_label_name",style:"width:100%;" %>
  </div>
  <div class="form-group col-md-3">
    <%= f.label :category ,'カテゴリー' %><br>
    <%= f.select :category, [["主食：ご飯など", "主食"],[ "主菜：メインのおかず", "主菜"],
    [ "副菜：副菜、漬物など", "副菜"],[ "容器：お弁当箱と箸等", "容器"]],{include_blank: true}, { class: "form-control",style:"width:100%;"} %>
  </div>

  <div class="col-xs-12 col-md-4 form-group">
    <%= f.label :recipe ,'調理メモ' %><br>
    <%= f.text_area :recipe, style:"height:10em;width:100%;", class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-4 form-group">
    <%= f.label :serving_memo ,'盛付メモ' %><br>
    <%= f.text_area :serving_memo,style:"height:10em;width:100%;", class: "form-control" %>
  </div>
  <div class="col-xs-12 col-md-4 form-group">
    <%= f.label :taste_description ,'味や特徴の説明' %><br>
    <%= f.text_area :taste_description,style:"height:10em;width:100%;", class: "form-control" %>
  </div>
  <div class="col-xs-12 col-md-12">
    <%= f.label :image, "写真" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <div class="form-group">
      <% if @menu.image? %>
        <%= image_tag @menu.image.to_s,class:"img-responsive",style:'max-height:450px;' %>
        <div class="">
            <%= f.label :remove_image,"削除する" %>
            <%= f.check_box :remove_image %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="used_additives col-md-12" style="margin:20px 0;">
    <%= f.label :used_additives ,"使用食品添加物" %><br>
    <% if f.object.used_additives.present? %>
      <%= f.select :used_additives, grouped_options_for_select(@ar,f.object.used_additives),{ include_hidden: false},{class:"select_used_additives select2 col-md-12",multiple:true} %>
    <% else %>
      <%= f.select :used_additives, grouped_options_for_select(@ar),{include_hidden: false},{class:"select_used_additives col-md-12 select2",multiple:true} %>
    <% end %>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-3">
      <label>食材原価小計</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_material_cost" style="width:100%">
    </div>
    <div class="col-md-3">
      <label>税(8%)</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_material_cost_tax" style="width:100%">
    </div>
    <div class="col-md-4">
      <%= f.label :cost_price, "メニュー原価（税込み）" %>
      <div class="form-inline">
        <div class="form-group">
          <%= f.number_field :cost_price, :readonly => 'readonly',class: "menu_cost_price form-control" %>
          <div class="form-group">
            円
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="col-md-12 table">
    <thead>
      <th>カロリー(kcal)</th>
      <th>タンパク質(g)</th>
      <th>脂質(g)</th>
      <th>炭水化物(g)</th>
      <th>食物繊維(g)</th>
      <th>カリウム(mg)</th>
      <th>カルシウム(mg)</th>
      <th>ビタミンC(mg)</th>
      <th>食塩(g)</th>
    </thead>
    <tbody>
      <td class="menu_calorie"></td>
      <td class="menu_protein"></td>
      <td class="menu_lipid"></td>
      <td class="menu_carbohydrate"></td>
      <td class="menu_dietary_fiber"></td>
      <td class="menu_potassium"></td>
      <td class="menu_calcium"></td>
      <td class="menu_vitamin_c"></td>
      <td class="menu_salt"></td>
    </tbody>
  </table>

  <div class="material_area">
    <div class="col-md-12" style="margin:5px;">
      <label class="col-md-3">食材・資材名</label>
      <label class="col-md-2">使用量</label>
      <label class="col-md-1">原価</label>
      <label class="col-md-1">仕入先</label>
      <label class="col-md-1">使用価格</label>
      <label class="col-md-2">仕込み内容</label>
      <label class="col-md-1">持ち場</label>
      <label class="col-md-1"></label>
    </div>
    <ul class='material_ul list-group ul-sortable' style="list-style-type:none;cursor:move;" id='detail-association-insertion-point'>
      <% i=0 %>
      <%= f.fields_for :menu_materials do |m| %>
        <%= render 'menu_material_fields',{f: m} %>
      <% i += 1 %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-12 form-group" style="margin-top:20px;">
    <%= link_to_add_association '材料追加', f, :menu_materials,class: 'btn btn-primary add_material_fields',
    data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'append' } %>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-4">
      <%= f.label :confirm_flag, "メニュー確定" %></br>
      <%= f.check_box :confirm_flag, class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :back_to, :value => @back_to %>

  <% if params["action"] == "edit" %>
    <div class="action col-md-12" style="margin-bottom:20px;">
      <input type="button" value="更新する" class="btn btn-success" id="menu_submit_btn">
    </div>
  <% else %>
    <div class="action col-md-12" style="margin-bottom:20px;">
      <input type="button" value="登録する" class="btn btn-success" id="menu_submit_btn">
    </div>
  <% end %>

<% end %>
