<%= form_for @menu do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@menu.errors.count, "箇所") %>入力に不備があります</b>
      <ul style="list-style:none;">
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <nav class="alert alert-danger eos-alert navbar-fixed-top" style="display:none;">
      終売の食材を選択しています。食材を変更してください(((；ﾟДﾟ)))
  </nav>
  <div class="form-group col-md-4">
    <%= f.label :name ,'メニュー名' %><br>
    <%= f.text_field :name, class: "form-control", id: "material_name",style:"width:100%;" %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label :food_label_name ,'食品表示名' %><br>
    <%= f.text_field :food_label_name, class: "form-control", id: "food_label_name",style:"width:100%;" %>
  </div>
  <div class="form-group col-md-3">
    <%= f.label :category ,'カテゴリー' %><br>
    <%= f.select :category, [["主食：ご飯など", "主食"],[ "主菜：メインのおかず", "主菜"],
    [ "副菜：副菜、漬物など", "副菜"],[ "容器：お弁当箱と箸等", "容器"]],{include_blank: true}, { class: "form-control",style:"width:100%;"} %>
  </div>

  <div class="col-xs-12 col-md-6 form-group">
    <%= f.label :recipe ,'調理メモ' %><br>
    <%= f.text_area :recipe, style:"height:10em;width:100%;", class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-6 form-group">
    <%= f.label :serving_memo ,'盛付メモ' %><br>
    <%= f.text_area :serving_memo,style:"height:10em;width:100%;", class: "form-control" %>
  </div>
  <div class="used_additives col-md-12" style="margin:20px 0;">
    <%= f.label :used_additives ,"使用食品添加物" %><br>
    <% if f.object.used_additives.nil? %>
      <%= f.select :used_additives, grouped_options_for_select(@ar),{include_hidden: false},{class:"select_used_additives col-md-12",multiple:true} %>
    <% else %>
      <%= f.select :used_additives, grouped_options_for_select(@ar,f.object.used_additives),{ include_hidden: false},{class:"select_used_additives col-md-12",multiple:true} %>
    <% end %>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-md-3">
      <label>食材原価小計</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_material_cost" style="width:100%">
    </div>
    <div class="col-md-3">
      <label>税(8%)</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_material_cost_tax" style="width:100%">
    </div>
    <div class="col-md-4">
      <%= f.label :cost_price, "メニュー原価（税込み）" %>
      <div class="form-inline">
        <div class="form-group">
          <%= f.number_field :cost_price, :readonly => 'readonly',class: "menu_cost_price form-control" %>
          <div class="form-group">
            円
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="material_area">
    <div class="col-md-12" style="margin:5px;">
      <label class="col-md-3">食材・資材名</label>
      <label class="col-md-1">原価</label>
      <label class="col-md-1">仕入先</label>
      <label class="col-md-2">使用量</label>
      <label class="col-md-1">使用価格</label>
      <label class="col-md-2">仕込み内容</label>
      <label class="col-md-1">持ち場</label>
      <label class="col-md-1"></label>
    </div>
    <ul class='material_ul list-group ul-sortable' style="list-style-type:none;cursor:move;">
    <% i=0 %>
    <%= f.fields_for :menu_materials, @menu.menu_materials do |m| %>
      <li class='add_li_material col-md-12 list-group-item item'>
        <div class="row_order" style="display:none;">
          <%= m.number_field :row_order, class:"input_row_order form-control" %>
        </div>
        <div class="select_material col-md-3" style="padding:3px;">
         <%= m.select :material_id, Material.where(end_of_sales:0).pluck(:name, :id),{include_blank: true},
          class:'input_select_material col-md-12'%>
       </div>
       <div class="sales_check" style="display:none;">
         <%= @menu.materials[i].end_of_sales if params["action"] == "edit" %>
       </div>
        <div class="cost_price col-md-1 form-inline">
          <div class="cost_price_value form-group">

            <%= @menu.materials[i].cost_price if params["action"] == "edit" %>
          </div>
          <div class="form-group"> 円</div>
        </div>
        <div class="vendor col-md-1">
          <%= @menu.materials[i].vendor.company_name if params["action"] == "edit" %>
        </div>
        <div class="amount_used col-md-2 form-inline">
          <%= m.text_field :amount_used, class:'amount_used_input form-control form-group',style:"width:140px;", :autocomplete => :off  %>
          <div class="calculated_unit form-group">
            <%= @menu.materials[i].calculated_unit if params["action"] == "edit" %>
          </div>
        </div>
        <div class="price_used form-inline col-md-1">
          <div class="price_used_value form-group">
            <%= (@menu.materials[i].cost_price * @menu.menu_materials[i].amount_used).round(2) if params["action"] == "edit" %>
          </div>
          <div class="form-group">　円</div>
        </div>
        <div class="preparation col-md-2" style="padding:0;">
          <%= m.text_field :preparation, class:'preparation_input form-control',
            autocomplete:"on", list:"unit_list" %>
          <datalist id="unit_list">
            <option value="ボイル">
            <option value="カット">
            <option value="タレ">
            <option value="千切り">
            <option value="みじん切り">
            <option value="計量">
          </datalist>
        </div>
        <div class="select_post col-md-1">
          <%= m.select :post, [["調理場", "調理場"],[ "切出し", "切出し"],[ "切出/調理", "切出/調理"]],
          {include_blank: true}, { class: "form-control"} %>
        </div>
        <div class="remove_material col-md-1">
          <a class ="remove_btn btn btn-danger" >削除</a>
          <%= m.check_box :_destroy,class:"destroy_materials check_box form-control", style: "display:none;" %>
        </div>
      </li>
      <% i += 1 %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-12" style="margin-top:20px;">
    <input type="button" value="材料追加" class="add_material btn btn-primary">
  </div>

  <%= f.hidden_field :back_to, :value => @back_to %>

  <% if params["action"] == "edit" %>
    <div class="action col-md-12" style="margin-bottom:20px;">
      <input type="button" value="更新する" class="btn btn-success" id="menu_submit_btn">
    </div>
  <% else %>
    <div class="action col-md-12" style="margin-bottom:20px;">
      <input type="button" value="登録する" class="btn btn-success" id="menu_submit_btn">
    </div>
  <% end %>
<% end %>
