
<div class="col-md-6">
  <h4>メニュー名「<%=link_to "#{Menu.find(params[:id]).name}", "/menus/#{params[:id]}", method: :get %> 」を含むお弁当一覧</h4>
</div>


<div class="col-md-5" style="padding:0px;">
  <div class="col-md-12" style="padding:0 0 10px 0;">
    ▼チェックの付いたメニューの食材を一括変更する
  </div>
  <div class="col-md-4" style="padding:0px;">
  <%= select :menu_id,:menu_id, Menu.pluck(:name, :id),{include_blank: true}, class:'all_select_menu select2'%>
  </div>
</div>

<%= form_tag(:controller => "menus", :action => "include_update") do %>
  <div class="col-md-12">
    <%= submit_tag "メニューの変更", class:"btn btn-success pull-right", data: { confirm: "変更してよろしいですか？"} %>
  </div>
  <div class="col-md-12">
    <div class="col-md-1">
      <label>all</label>
      <input type="checkbox" class="all_box">
    </div>
    <div class="col-md-3">
    　弁当名
    </div>
    <div class="col-md-2">
      変更後のメニュー
    </div>

  </div>
  <ul class="col-md-12 list-group" style="list-style:none;">
    <% i = 0 %>
    <% @product_menus.each do |pm| %>
      <li class="product_include_menu col-md-12 list-group-item">
        <div class="col-md-1 product_check">
          <input type="checkbox" class="form-control">
        </div>
        <div class="col-md-3">
          <%=link_to "#{pm.product.name}", "/products/#{pm.product.id}", method: :get %>
        </div>
        <div class="col-md-1" style="display:none;">
          <%= text_field_tag :id, pm.id, name:"post[][pm_id]" %>
        </div>
        <div class="col-md-2 select_menu">
          <%= select_tag(:menu_id, options_from_collection_for_select(@menus,:id,:name, :selected => pm.menu_id),
           include_blank: true,class:"input_select_menu", name:"post[][menu_id]") %>
        </div>
      </li>
      <% i += 1 %>
    <% end %>
  </ul>
<% end %>
<div class="col-md-12">
  <%= paginate @product_menus %>
</div>
