<h3>メニューの新規登録
  <a href="/menus/new">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
    </span>
  </a>
</h3>
<p>　</p>
  <%= form_tag Menu, :method => 'get', class:"form-inline" do %>
  <div class="kensaku form-group">
    メニュー名：
    <%= text_field_tag :name, params[:name], class:"name form-control" %>
  </div>
  <div class="kensaku form-group">
    　<%= submit_tag "検索" ,class:"btn btn-primary" %>
  </div>
  <% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>メニュー名</th>
      <th>カテゴリ</th>
      <th>レシピ</th>
      <th>盛り付けメモ</th>
      <th>原価</th>
    </tr>
  </thead>

  </br>
  <tbody>
    <% @search.each do |menu| %>
      <tr class="menus_tr" style="cursor: pointer">
        <td class="menus_index"><%= link_to "#{menu.id}", "/menus/#{menu.id}", method: :get %></td>
        <td><%= menu.name %></td>
        <td><%= menu.category %></td>
        <td><%= menu.recipe %></td>
        <td><%= menu.serving_memo %></td>
        <td class="cost_price_td"><%= menu.cost_price %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @search.size == 0 then %>
<p>該当するメニューは存在しません</p>
<% end %>

</br>

  <%= paginate(@search) %>
  <!-- ページネーション -->
