
<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li class="active">メニュー一覧</li>
</ol>

<div class="form-inline col-md-12" style="padding:10px;">
  <h3 class="form-group">メニューの新規登録
    <a href="/menus/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
  </h3>
</div>
<div class="form-inline col-md-12" style="padding:10px;">
  <%= form_tag Menu, :method => 'get', class:"form-group" do %>
    <div class="kensaku form-group">
      メニュー名：
      <%= text_field_tag :name, params[:name], class:"name form-control" %>
    </div>
    <div class="kensaku form-group">
      調理カテゴリー:
      <%= select_tag :category, options_from_collection_for_select(Menu.select(:category).uniq,
       :category, :category), include_blank: true, class:"form-control",style:"width:150px;" %>
    </div>
    <div class="kensaku form-group">
      　<%= submit_tag "検索" ,class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="col-md-12">
  <%= paginate(@search) %>
</div>
<div>
  <div class="col-md-12" style="padding:10px;">
    <div class="col-md-2">メニュー名</div>
    <div class="col-md-1">カテゴリ</div>
    <div class="col-md-3">レシピ</div>
    <div class="col-md-3">盛り付けメモ</div>
    <div class="col-md-1">原価(税込)</div>
		<div class="col-md-1">終売</div>
    <div class="col-md-1 text-right">使用お弁当</div>
  </div>
  <ul class='list-group' style="list-style-type: none;">
    <% @search.each do |menu| %>
      <li class="li-active menus_li col-md-12 list-group-item" >
        <div class="menu_name col-md-2"><%= link_to "#{menu.name}", "/menus/#{menu.id}" %></div>
        <div class="col-md-1"><%= menu.category %></div>
        <div class="col-md-3"><%= menu.recipe %></div>
        <div class="col-md-3"><%= menu.serving_memo %></div>
        <div class="cost_price col-md-1"><%= menu.cost_price %>円</div>
				<div class="col-md-1">
					<% menu.materials.each do |m| %>
						<% if m.end_of_sales==1 %>
							✔
							<% break %>
						<% end %>
					<% end %>
				</div>
        <div class="col-md-1 text-right">
          <%=button_to "確認", "/menus/include_menu/#{menu.id}", method: :get,class:"btn btn-primary" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% if @search.size == 0 then %>
<p>該当するメニューは存在しません</p>
<% end %>

</br>

  <%= paginate(@search) %>
  <!-- ページネーション -->
