<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
  <li><a href="/menus">メニュー一覧</a></li>
	<li class="active"><%= @menu.name %></li>
</ol>
<div class="col-md-12 form-inline" style='margin-bottom:20px;'>
	  <%= link_to 'メニュー編集', "/menus/#{@menu.id}/edit", method: :get,class: "btn btn-primary pull-right" %>
    <%= link_to "印刷する", "/menus/print/#{@menu.id}.pdf",method:"get", class:"btn btn-success pull-right",:target=>"_blank", style:"margin:0 20px 0 10px;"%>
		<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#sampleModal" style="margin:0 10px 0 0px;">
			コピーする
		</button>
		<div class="modal fade" id="sampleModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content col-md-12">
					<div class="modal-header col-md-12">
						<h4 class="modal-title">オリジナルメニューの何％（各食材の使用量）でコピーしますか？</h4>
					</div>
					<div class="modal-body col-md-12">
						<%= form_tag(new_menu_path,method: :get) do %>
							<%= hidden_field_tag "copy_flag",true %>
							<%= hidden_field_tag 'menu_id',@menu.id %>
							<%= select_tag :used_rate,options_for_select([["100%",1],["90%",0.9],["80%",0.8],["70%",0.7],["60%",0.6],["50%",0.5],["40%",0.4],["30%",0.3],["20%",0.2],["10%",0.1]]), class:"form-control" %>
							<%= submit_tag "コピーを作成する" ,class:"btn btn-primary pull-right" %>
						<% end %>
					</div>
					<div class="modal-footer col-md-12">
						<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="col-md-6">
 <table class="table">
     <tr class="">
       <th class="active col-md-4">メニュー名</th>
       <td class=""><%= @menu.name %></td>
      </tr>
			<tr class="">
			 <th class="active col-md-4">メニュー原価(税込)</th>
			 <td><%= @menu.cost_price %></td>
			 </tr>
      <tr class="">
       <th class="active col-md-4">カテゴリー</th>
       <td><%= @menu.category %></td>
       </tr>
			 <tr class="">
				<th class="active col-md-4">アレルギー</th>
				<td>
					<% @arr.each do |a| %>
						<%= a + "、" unless a.nil?%>
					<% end %>
				</td>
				</tr>
			 <tr class="">
				<th class="active col-md-4">使用食品添加物</th>
				<td>
					<% if @menu.used_additives.present? %>
						<% @menu.used_additives.each do |ua| %>
							<%= FoodAdditive.find(ua.to_i).name + "、"%>
						<% end %>
					<% end %>
				</td>
			</tr>
      <tr class="">
       <th class="active col-md-4">調理メモ</th>
       <td><%= simple_format(@menu.recipe) %></td>
     </tr>
     <tr class="">
      <th class="active col-md-4">盛り付けメモ</th>
      <td><%= simple_format(@menu.serving_memo) %></td>
    </tr>
		<tr class="">
		 <th class="active col-md-4">味・特徴の説明</th>
		 <td><%= simple_format(@menu.taste_description) %></td>
	 </tr>
 </table>
</div>
<div class="col-md-6">
	<%= image_tag @menu.image.to_s ,class:"text-center img-responsive center-block",style:'max-height:450px;' %>
</div>
<div>
    <div class="col-md-12" style="padding:10px">
      <label class="col-md-2">食材</label>
      <label class="col-md-1">原価</label>
      <label class="col-md-2">仕入先</label>
      <label class="col-md-1">分量</label>
      <label class="col-md-1">使用価格</label>
      <label class="col-md-2">仕込み内容</label>
      <label class="col-md-1">持ち場</label>
  </div>
  <ul class="list list-group">
    <% @menu.menu_materials.each do |mm| %>
      <li class="list-group-item col-md-12">
      <div class="col-md-2"><%= link_to mm.material.name, "/materials/#{mm.material.id}/edit", method: :get %></div>
      <div class="col-md-1"><%= mm.material.cost_price %> 円</div>
      <div class="col-md-2"><%= link_to mm.material.vendor.company_name, "/vendors/#{mm.material.vendor.id}", method: :get %></div>
      <div class="col-md-1"><%= mm.amount_used %> <%= mm.material.calculated_unit %></div>
      <div class="col-md-1"><%= (mm.amount_used * mm.material.cost_price).round(1) %>円</div>
      <div class="col-md-2"><%= mm.preparation %></div>
      <div class="col-md-1"><%= mm.post %></div>
    </li>
    <% end %>
  </ul>
</div>
