<% if @mobile == false %>
  <% if @history_flag == true %>
    $('tr:not(:eq(0))').remove();
    <% @dates.each do |date| %>
      <% stock = @stocks_hash[date] %>
      <% if stock.present? %>
        $('.add_point').append("<%= escape_javascript(render partial: 'history_tr', locals: {date:date,stock:stock}) %>");
      <% end %>
    <% end %>
    $('.glyphicon-eye-open').tooltip({html: true})
  <% else %>
    $("<%= @class_name %>").after("<%= escape_javascript(render partial: 'tr', locals: {material:@material,bc:'',store_id:@stock.store_id}) %>");
    $("<%= @class_name %>").eq(0).remove();
    $("<%= @class_name %>").find('.save_flag').children().show();
    $("<%= @class_name %>").find('.rireki_span').tooltip({html: true})
  <% end %>
<% else %>
  $("<%= @class_name %>").css('background-color','#ffffe0');
  $("<%= @class_name %>").find('.inventory_flag').html('<span class="label label-success">棚卸し</span>')
<% end %>
