
    <div class="panel-heading col-md-12">
      <h5 class="panel-title col-md-2">
        弁当名：
      </h5>
      <h5 class="panel-title col-md-3" style="">
        <%= Product.find(params[id]).name%>
      </h5>

      <h5 class="panel-title col-md-2">
        製造数：
      </h5>
      <h5 class="panel-title col-md-2">
        <%= params[num]%>人分
      </h5>
    </div>
    <div class="panel-body">
      <% Product.find(params[id]).menus.each do |menu|%>
        <% menu.menu_materials.each do |menu_material|%>
              <div class="material_name col-md-3">
                <%= menu_material.material.name %>
              </div>
              <div class="amount_used col-md-2 text-right">
                <%= menu_material.amount_used.to_f * params[num].to_i%>
              </div>
              <div class="col-md-2">
                <%= menu_material.material.calculated_unit %>
              </div>
              <div class="vendor_name col-md-3">
                <%= menu_material.material.vendor.company_name %>
              </div>
            </row>
        <% end %>
      <% end %>
    </div>
