<!-- 変数が違うのでパーシャルには出来ない -->

<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@order.errors.count, "箇所") %>入力に不備があります</b>
      <ul style="list-style:none;">
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= f.label :delivery_date ,'納品日' %></h4>
  <div class="container form-group">
    <div class="form-inline col-md-12">
      <%= f.date_select :delivery_date,{}, class: "form-control col-md-2",style: "width: 100px;" %>
      <div class="form-inline text-right">
        <input value="発注確定する" class="order_submit btn btn-success" type="submit">
      </div>
    </div>
  </div>

  <h4><strong>発注食材・資材一覧</strong></h4>
  <div class="orders_all panel panel-primary">
    <div class="panel-heading col-md-12">
      <div class="panel-title col-md-1", style="display:none;">
        <strong>食材id</strong>
      </div>
      <div class="panel-title material_name col-md-3">
        <strong>食材名</strong>
      </div>
      <div class="panel-title col-md-2 text-right">
        <strong>使用量</strong>
      </div>
      <div class="panel-title col-md-2">
      </div>
      <div class="panel-title col-md-3">
        <strong>仕入先</strong>
      </div>
    </div>

    <ul class="order_materials_ul list-group panel-body">
      <% i = 0 %>
      <%= f.fields_for :order_materials do |m| %>
        <li class="order_materials_li list-group-item col-md-12">
          <div class="order_material_name col-md-3">
            <%= m.select :material_id, Material.where(end_of_sales:0).pluck(:name, :id),{include_blank: true}, class:'select_order_materials' %>
          </div>
          <div class="order_quantity col-md-2">
            <%= m.text_field :order_quantity, class:'text-right col-md-6 pull-right form-control' %>
          </div>
          <div class="order_material_unit col-md-2">
            <%= @order.materials[i].calculated_unit %>
          </div>
          <div class="vendor_company_name col-md-3">
            <%= @order.materials[i].vendor.company_name %>
          </div>
          <div class="col-md-1 destroy_order_material">
            <%= m.check_box :_destroy, :value => 0,class:"destroy_order_materials check_box form-control" %>
          </div>
        </li>
        <% i = i + 1 %>
      <% end %>
    </ul>
  </div>
  <div class="add">
    <a class="add_order_materials btn btn-primary">発注食材追加</a>
  </div>
<% end %>
