<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@order.errors.count, "箇所") %>入力に不備があります</b>
      <ul style="list-style:none;">
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= f.label :delivery_date ,'納品日' %></h4>
  <div class="container form-group">
    <div class="col-md-12">
      <div class="col-md-4">
        <%= f.date_select :delivery_date,{}, class: "form-control col-md-2",style: "width:33%" %>
      </div>
      <div class="col-md-2 pull-right">
        <input type="button" onclick="submit();" value="発注確定する" class="order_submit btn btn-success">
      </div>
    </div>
  </div>

  <h4><strong>発注弁当</strong></h4>
  <ul class="list-group col-md-12">
    <% i = 0 %>
    <%= f.fields_for :order_products do |m| %>
      <li class="list-group-item col-md-12" style="padding:5px;">
        <%= m.text_field :product_id, class:'form-group col-md-2',style:"display:none;" %>
        <div class="col-md-5">
          <%= @order.products[i].name %>
        </div>
        <div class="col-md-3 form-inline">
          <%= m.text_field :serving_for, class:'form-control form-group',style:"width:70%;",readonly:true %>
        <div class="form-group">
          人分
        </div>
        </div>
      </li>
      <% i += 1 %>
    <% end %>
  </ul>

  <div class="col-md-12" style="padding-bottom:10px;">
    <div class="col-md-3">
      <strong>発注食材・資材一覧</strong>
    </div>

      <label class="col-md-2 text-right">企業絞込：</label>

    <div class="col-md-3">
      <select class="vendor_select form-control">
        <option value=""></option>
        <% @order.materials.select(:vendor_id).uniq.each do |v| %>
        <%= "<option value=#{v.vendor_id}>#{Vendor.find(v.vendor_id).company_name}</option>".html_safe %>
        <% end %>
      </select>
    </div>
    <div class="col-md-1 pull-right">
      <input type="checkbox" class="all_delete" style="width: 24px; height: 24px;">
    </div>
  </div>


  <div class="orders_all panel panel-primary col-md-12" style="padding:0;">
    <div class="panel-heading col-md-12" style="padding:5px;">
      <div class="panel-title material_name col-md-2">
        食材名
      </div>
      <div class="panel-title col-md-2 text-center">
        発注量
      </div>
      <div class="panel-title col-md-2">
        計算値
      </div>
      <div class="panel-title col-md-2">
        仕入先
      </div>
      <div class="panel-title col-md-2">
        単位変換
      </div>
      <div class="panel-title col-md-1">
        在庫予想
      </div>

      <div class="panel-title col-md-1">
        発注無
      </div>
    </div>

    <ul class="order_materials_ul list-group panel-body">
      <% i = 0 %>
      <%= f.fields_for :order_materials do |m| %>
        <li class="order_materials_li list-group-item col-md-12" style="padding:5px;">
          <div class="order_material_name col-md-2" style="padding:0">
            <%= m.select :material_id, Material.where(end_of_sales:0).pluck(:name, :id),{include_blank: true}, class:'select_order_materials col-md-12'%>
          </div>
          <div class="order_quantity col-md-1" style="padding-right:0;">
            <%= m.text_field :order_quantity,class:'text-right form-control',style:"height:27.78px;" %>
          </div>
          <div class="order_material_unit col-md-1">
            <%= @order.materials[i].order_unit %>
          </div>
          <div class="calculated_value col-md-1" style="padding:0">
            <%= m.text_field :calculated_quantity,class:'text-right form-control',
              style:"height:27.78px;",readonly:true %>
          </div>
          <div class="calculated_material_unit col-md-1 text-center">
             <%= @order.materials[i].calculated_unit %>
          </div>
          <div class="vendor_company_name col-md-2">
            <%= @order.materials[i].vendor.company_name %>
          </div>
          <div class="calculate_unit panel-title col-md-2">
            1 <%= @order.materials[i].order_unit %>
            ：<%= @order.materials[i].calculated_value.to_s(:delimited) %> <%= @order.materials[i].calculated_unit %>
          </div>

          <div class="panel-title col-md-1">
          </div>
          <div class="col-md-1 destroy_order_material">
            <%= m.check_box :_destroy,class:"destroy_order_materials check_box",style:"width: 24px; height: 24px;" %>
          </div>
        </li>
      <% i = i + 1 %>
      <% end %>
    </ul>
  </div>
  <div class="add col-md-12 form-group">
    <input type="button" value="発注食材追加" class="add_order_materials btn btn-primary">
  </div>
<% end %>
