<div class="order_new panel panel-primary">
  <div class="panel-heading col-md-12">
    <h4><strong class="col-md-3">食材・資材の発注</strong></h4>
    <div>
      お弁当の種類と食数を選択し、発注計算のボタンを押してください
    </div>
  </div>
  <div class="panel-body">
    <%= form_tag(:controller => "orders", :action => "new") do %>
    <ul class= "orderform" style="list-style:none;">
      <% for i in 0..3 %>
        <%= render :partial => "new_form",locals: {i:i} %>
      <% end %>
      </ul>
      <div class="text-right form-group col-md-9" style="margin-top:10px;">
        <input type="button" value="レシピ表示" class="btn btn-primary recipe-btn form-inline" style="margin-right:20px">
        <input type="button" onclick="submit();" value="発注の計算" class="btn btn-success text-right form-inline" style="margin-right:20px">
      </div>
    <% end %>

    <div class="hidden_form" style="display:none;" >
      <%= form_tag({:controller => "products", :action => "multiple_show"},{:target => "_blank"}) do %>
        <% for i in 0..3 %>
          <%= render :partial => "new_form",locals: {i:i} %>
        <% end %>
        <div class="text-right col-md-10">
          <input type="button" onclick="submit();" value="multiple" class="btn btn-success product_btn">
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <h4><strong>過去の発注一覧</strong></h4>
</div>
<div class="col-md-12">
  <div class="col-md-2">
    納品日
  </div>
  <div class="col-md-2">
    発注先企業一覧
  </div>
</div>
<ul class="list-group" style="list-style-type: none;">
  <% @orders.each do |order| %>
    <li class="col-md-12 list-group-item">
      <div class="col-md-2">
        <%= order.delivery_date %>
      </div>
        <div class="col-md-8">
          <% vendors = Vendor.vendor_index(order) %>
          <% vendors.each do |vendor| %>
            <div class="col-md-2">
              <%= vendor["company_name"] %>
            </div>
          <% end %>
        </div>
      <div class="col-md-2">
        <%= link_to "詳細", "/orders/#{order.id}", method: :get,class:"order btn btn-default" %>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate @orders %>
