<div class="order_new panel panel-primary">
  <div class="panel-heading col-md-12">
    <h4><strong class="col-md-3">食材・資材の発注</strong></h4>
    <div>
      お弁当から食材を計算する場合は必要な数値を入れ、発注開始を押して下さい。
    </div>
  </div>
  <div class="panel-body">
    <%= form_tag(:controller => "orders", :action => "new") do %>
    <ul class= "orderform" style="list-style:none;">
      <% for i in 0..3 %>
        <%= render :partial => "new_form",locals: {i:i} %>
      <% end %>
      </ul>
      <div class="text-right form-group col-md-8" style="margin-top:10px;">
        <input type="button" onclick="submit();" value="発注開始" class="btn btn-success text-right form-inline" style="margin-right:20px">
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-12">
  <h4><strong>過去の発注一覧</strong></h4>
</div>
<div class="col-md-12">
  <div class="col-md-1">
    納品日
  </div>
  <div class="col-md-1">
    お弁当一覧
  </div>


</div>
<ul class="list-group" style="list-style-type: none;">
  <% @orders.each do |order| %>
    <li class="col-md-12 list-group-item">
      <div class="col-md-1">
        <%= order.delivery_date %>
      </div>
      <div class="col-md-8">
        <% order.order_products.each do |op| %>
        <div class="col-md-3">
          <div class="col-md-12 bold" style="font-size:10px;">
            <strong><%= op.serving_for %>　人分</strong>
          </div>
          <div class="col-md-12" style="font-size:10px;">
            <%= op.product.name %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-3">
          <%= link_to "レシピ印刷","/products/product_pdf_all/#{order.id}.pdf",class:"btn btn-success",:target=>"_blank",style:"margin:3px;" %>
          <%= link_to "仕込印刷","/products/preparation_all/#{order.id}.pdf",class:"btn btn-warning",:target=>"_blank",style:"margin:3px;" %>
          <%= link_to "発注詳細", "/orders/#{order.id}",class:"order btn btn-primary",style:"margin:3px;" %>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate @orders %>
