<div class="order_new panel panel-primary">
    <div class="panel-heading col-md-12">
      <h4><strong class="col-md-3">食材・資材の発注</strong></h4>
      <div>
        お弁当の種類と食数を選択し、発注計算のボタンを押してください
      </div>
    </div>
    <div class="panel-body">
      <div>
        <br>　
      </div>

    <%= form_tag(:controller => "orders", :action => "new") do %>
      <% for i in 0..3 %>
        <%= render :partial => "new_form",locals: {i:i} %>
      <% end %>
      <div class="text-right col-md-10">
        <input type="button" onclick="submit();" value="発注計算" class="btn btn-success">
      </div>
    <% end %>
  </div>
</div>

<!-- <%= form_tag Order, :method => 'get' do %>
  <div class="col-xs-12 col-md-12">
    <p>納品日：</p>
    <div class="col-xs-12 col-md-3 form-inline">
      <%= date_select :from, :date, {}, class:"form-control",style: "width: 70px;" %>
    </div>
    <div class="col-xs-12 col-md-1 form-inline">
      〜
    </div>
    <div class="col-xs-12 col-md-3 form-inline">
      <%= date_select :to, :date, {}, class:"form-control",style: "width: 70px;" %>
    </div>
    <div class="kensaku col-md-2">
      　<%= submit_tag "検索する" ,class:"btn btn-primary" %>
    </div>

  </div>
<% end %> -->


<div class="col-md-12">
  <h4><strong>過去の発注一覧</strong></h4>
</div>
<div class="col-md-12">
  <div class="col-md-2">
    納品日
  </div>
  <div class="col-md-2">
    発注先企業一覧
  </div>
</div>
<ul class="list-group" style="list-style-type: none;">
  <% @orders.each do |order| %>
    <li class="col-md-12 list-group-item">
      <div class="col-md-2">
        <%= order.delivery_date %>
      </div>
        <div class="col-md-8">
          <% vendors = Vendor.vendor_index(order) %>
          <% vendors.each do |vendor| %>
            <div class="col-md-2">
              <%= vendor["company_name"] %>
            </div>
          <% end %>
        </div>
      <div class="col-md-2">
        <%= link_to "詳細", "/orders/#{order.id}", method: :get,class:"order btn btn-default" %>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate @orders %>
