<div class="order_new panel panel-primary">
    <div class="panel-heading col-md-12">
      <h4><strong class="col-md-3">食材・資材の発注</strong></h4>
      <div>
        お弁当の種類と食数を選択し、発注計算のボタンを押してください
      </div>
    </div>
    <div class="panel-body">
      <div>
        <br>　
      </div>

    <%= form_tag(:controller => "orders", :action => "new") do %>
      <% for i in 0..3 %>
        <%= render :partial => "new_form",locals: {i:i} %>
      <% end %>
      <div class="text-right col-md-10">
        <input type="button" onclick="submit();" value="発注計算" class="btn btn-success">
      </div>
    <% end %>
  </div>
</div>


  <%= form_for @order do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <b><%= pluralize(@order.errors.count, "箇所") %>入力に不備があります</b>
        <ul style="list-style:none;">
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h4><%= f.label :delivery_date ,'納品日' %></h4>
    <div class="container form-group">
      <div class="form-inline col-md-12">
        <%= f.date_select :delivery_date,{}, class: "form-control col-md-2",style: "width: 100px;" %>
        <div class="form-inline text-right">
          <input type="button" onclick="submit();" value="発注確定する" class="btn btn-success">
        </div>
      </div>
    </div>

    <h4><strong>発注食材・資材一覧</strong></h4>
    <div class="orders_all panel panel-primary">
      <div class="panel-heading col-md-12">
        <div class="panel-title col-md-1", style="display:none;">
          <strong>食材id</strong>
        </div>
        <div class="panel-title order_material_name_h col-md-3">
          <strong>食材名</strong>
        </div>
        <div class="panel-title col-md-2 text-right">
          <strong>使用量</strong>
        </div>
        <div class="panel-title col-md-2">
        </div>
        <div class="panel-title col-md-3">
          <strong>仕入先</strong>
        </div>
      </div>



      
    </div>
    <div class="add">
      <a class="add_order_materials btn btn-primary">発注食材追加</a>
    </div>
  <% end %>
</div>
<h4><strong>弁当毎の内訳</strong></h4>
<div>
  <% for i in 0..3 %>
    <% if params["id#{i}"].present? %>
    <div class="panel panel-default">
      <%= render :partial => "products_materials", locals: {num: "num#{i}",id: "id#{i}"} %>
    </div>
    <% end %>
  <% end %>
