<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <b><%= pluralize(@order.errors.count, "箇所") %>入力に不備があります</b>
      <ul style="list-style:none;">
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    <div class="col-md-6">
      <h4><strong>発注弁当</strong></h4>
    </div>
    <div class="col-md-6">
      <div class="" style="float:left;padding-top:8px;font-weight:bold;">
        製造日　　　　　製造日一括変更：
      </div>
      <div class="" style="float:left">
        <%= date_field("all", "make_date_change", value: Time.now.strftime("%Y-%m-%d"),class:"form-control") %>
      </div>
    </div>
  </div>
  <ul class="list-group col-md-12">
    <%= f.fields_for :order_products do |m| %>
      <% i =0 %>
      <% for i in 0..5 do %>
        <% id = params["id#{i}"] %>
        <% num = params["num#{i}"] %>
        <% if id.present? %>
          <li class="list-group-item col-md-12" style="padding:5px;">
            <%= m.text_field :product_id,value:id, class:'form-group col-md-2',style:"display:none;",
            name:"order[order_products_attributes][#{i}][product_id]",id:"order_order_products_attributes_#{i}_product_id" %>
            <div class="col-md-4">
              <%= Product.find(id).name %>
            </div>
            <div class="col-md-2 form-inline">
              <%= m.text_field :serving_for,value:num, class:'form-control form-group',style:"width:70%;",readonly:true,
              name:"order[order_products_attributes][#{i}][serving_for]",id:"order_order_products_attributes_#{i}_serving_for" %>
              <div class="form-group">
                人分
              </div>
            </div>
            <div class="col-md-2">
              <%= m.date_field(:make_date, value: Time.now.strftime("%Y-%m-%d"),class:"form-control input_make_date",
              name:"order[order_products_attributes][#{i}][make_date]",id:"order_order_products_attributes_#{i}_make_date") %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <div class="col-md-12" style="padding-bottom:10px;">
    <div class="col-md-3" style="font-size:20px;padding-top:30px;">
      <strong>発注食材・資材一覧</strong>
    </div>
    <div class="col-md-3">
      <label class=" text-right">企業絞込：</label>
      <select class="vendor_select form-control">
        <option value=""></option>
        <% arr = [] %>
        <% @hash.each do |h| %>
          <% arr << h[1][0]["vendor_id"] %>
        <% end %>
        <% vendors = arr.uniq %>
        <% vendors.each do |vendor_id| %>
            <%= "<option value=#{vendor_id}>#{Vendor.find(vendor_id).company_name}</option>".html_safe %>
        <% end %>
      </select>
    </div>
    <div class="col-md-3">
      <label class="text-right">納品日一括変更：</label>
      <%= date_field("all", "date_change", value: Time.now.strftime("%Y-%m-%d"),class:"form-control") %>
    </div>
    <div class="col-md-3" style="padding-top:25px;">
      <input type="button" value="発注確定する" class="order_submit btn btn-success pull-right">
    </div>
  </div>
  <div class="orders_all" style="width:100%;">
  	<table class="table" style="width:1140px;margin:auto;" >
  		<thead>
        <tr>
          <th style="width:200px;">食材名</th>
          <th style="width:130px;">発注コード検索</th>
          <th style="width:280px;">
            <div style="width:130px;float:left;">発注量</div>
            <div style="width:130px;float:left;">計算値</div>
          </th>
          <th style="width:250px;">備考欄</th>
          <th style="width:160px;">納品日</th>
          <th style="width:98px;">
            削除　<input type="checkbox" class="all_delete" style="width:24px;height:24px;margin:0;">
          </th>
        </tr>
  		</thead>
  		<tbody>
        <% i = 0 %>
        <%= f.fields_for :order_materials do |m| %>
          <% if @hash.present? %>
            <% @hash.each do |material| %>
              <% if material[1][0]["vendor_id"]==121 || material[1][0]["vendor_id"]==151 %>
                <% material[1].each do |recipebetsu_material| %>
                  <tr class="order_materials_tr">
                    <td class="order_material_name" style="width:200px;">
                      <%= m.select :material_id, Material.where(end_of_sales:0).pluck(:name, :id),
                        {include_blank: true,selected: material[0]}, class:'select_order_materials',
                        name:"order[order_materials_attributes][#{i}][material_id]",style:"width:200px;",
                        id:"order_order_materials_attributes_#{i}_material_id" %>
                      <div class="vendor_company_name" style="padding:3px 0 0 8px;color:#A9A9A9;">
                        <%= Vendor.find(material[1][0]["vendor_id"]).company_name %>
                      </div>
                    </td>
                    <td class="order_code_search" style="width:130px;">
                      <%= select_tag 'page[name]', options_from_collection_for_select(Material.where(end_of_sales:0).where.not(order_code:""), :id, :order_code),include_blank: true,class:"input_order_code",disabled:"disabled" %>
                    </td>
                    <td class="quantity" style="width:280px;">
                      <div class="clearfix">
                        <div class="" style="width:135px;float:left;">
                          <%= m.text_field :order_quantity,value:BigDecimal((recipebetsu_material["amount_used"].to_f / Material.find(material[0]).calculated_value.to_f * Material.find(material[0]).order_unit_quantity.to_f).to_s).ceil(1).to_f,
                            class:'order_quantity text-right form-control',style:"width:80px;height:27.78px;float:left",
                            name:"order[order_materials_attributes][#{i}][order_quantity]",
                            id:"order_order_materials_attributes_#{i}_order_quantity" %>
                          <div class="order_material_unit" style="float:left;padding-left:3px;padding-top:5px;">
                            <%= Material.find(material[0]).order_unit %>
                          </div>
                        </div>
                        <div style="width:135px;float:left;">
                          <%= m.text_field :calculated_quantity,value:recipebetsu_material["amount_used"],
                             class:'calculated_value text-right form-control',name:"order[order_materials_attributes][#{i}][calculated_quantity]",
                             id:"order_order_materials_attributes_#{i}_calculated_quantity",
                             style:"width:80px;height:27.78px;padding:2px;float:left",readonly:true %>
                          <div class="calculated_material_unit" style="float:left;padding-left:3px;padding-top:5px;">
                            <%= Material.find(material[0]).calculated_unit %>
                          </div>
                        </div>
                      </div>
                      <div class="change_unit" style="width:270px;color:#A9A9A9;padding:1px 0 0 10px;">
                        <%= Material.find(material[0]).order_unit_quantity %> <%= Material.find(material[0]).order_unit %>
                        ：<%= Material.find(material[0]).calculated_value %> <%= Material.find(material[0]).calculated_unit %>
                      </div>
                    </td>
                    <td class="order_material_memo" style="width:250px;">
                      <%= m.text_field :order_material_memo,class:'form-control',style:"width:240px;",
                      name:"order[order_materials_attributes][#{i}][order_material_memo]",id:"order_order_materials_attributes_#{i}_order_material_memo" %>
                      <div class="" style="padding:3px 0 0 8px;color:#A9A9A9;">
                        <%= Product.find(recipebetsu_material["product_id"]).name %>
                      </div>
                    </td>
                    <td class="delivery_date" style="width:160px;">
                      <%= m.date_field(:delivery_date, value: Time.now.strftime("%Y-%m-%d"),class:"form-control input_delivery_date",style:"width:150px;",
                      name:"order[order_materials_attributes][#{i}][delivery_date]",id:"order_order_materials_attributes_#{i}_delivery_date") %>
                    </td>
                    <td class="destroy_order_material text-right" style="width:80px;padding:5px 30px 0 0;">
                      <%= m.check_box :_destroy,class:"destroy_order_materials check_box",style:"width: 24px; height: 24px;margin:0;",
                      name:"order[order_materials_attributes][#{i}][_destroy]",id:"order_order_materials_attributes_#{i}__destroy" %>
                    </td>
                  </tr>
                  <% i += 1 %>
                <% end %>
              <% else %>
                <tr class="order_materials_tr">
                  <td class="order_material_name" style="width:200px;">
                    <%= m.select :material_id, Material.where(end_of_sales:0).pluck(:name, :id),
                    {include_blank: true,selected: material[0]}, class:'select_order_materials',
                    name:"order[order_materials_attributes][#{i}][material_id]",style:"width:200px;",
                    id:"order_order_materials_attributes_#{i}_material_id" %>
                    <div class="vendor_company_name" style="padding:3px 0 0 8px;color:#A9A9A9;">
                      <%= Vendor.find(material[1][0]["vendor_id"]).company_name %>
                    </div>
                  </td>
                  <td class="order_code_search" style="width:130px;">
                    <%= select_tag 'page[name]', options_from_collection_for_select(Material.where(end_of_sales:0).where.not(order_code:""), :id, :order_code),include_blank: true,class:"input_order_code",disabled:"disabled" %>
                  </td>
                  <td class="quantity" style="width:280px;">
                    <div class="clearfix">
                      <div class="" style="width:135px;float:left;">
                          <%= m.text_field :order_quantity,value:BigDecimal((material[1].sum { |hash| hash["amount_used"]}.to_f / Material.find(material[0]).calculated_value.to_f * Material.find(material[0]).order_unit_quantity.to_f).to_s).ceil,
                            class:'order_quantity text-right form-control',style:"width:80px;height:27.78px;float:left",
                            name:"order[order_materials_attributes][#{i}][order_quantity]",
                            id:"order_order_materials_attributes_#{i}_order_quantity" %>
                         <div class="order_material_unit" style="float:left;padding-left:3px;padding-top:5px;">
                           <%= Material.find(material[0]).order_unit %>
                         </div>
                      </div>
                      <div style="width:135px;float:left;">
                        <%= m.text_field :calculated_quantity,value:material[1].sum { |hash| hash["amount_used"]}.round(1),
                            class:'calculated_value text-right form-control',name:"order[order_materials_attributes][#{i}][calculated_quantity]",
                            id:"order_order_materials_attributes_#{i}_calculated_quantity",
                            style:"width:80px;height:27.78px;padding:2px;float:left",readonly:true %>
                        <div class="calculated_material_unit" style="float:left;padding-left:3px;padding-top:5px;">
                          <%= Material.find(material[0]).calculated_unit %>
                        </div>
                      </div>
                    </div>
                    <div class="change_unit" style="width:270px;color:#A9A9A9;padding:1px 0 0 10px;">
                      <%= Material.find(material[0]).order_unit_quantity %> <%= Material.find(material[0]).order_unit %>
                      ：<%= Material.find(material[0]).calculated_value %> <%= Material.find(material[0]).calculated_unit %>
                    </div>
                  </td>

                  <td class="order_material_memo" style="width:250px;">
                    <%= m.text_field :order_material_memo,class:'form-control',style:"width:240px;",
                    name:"order[order_materials_attributes][#{i}][order_material_memo]",id:"order_order_materials_attributes_#{i}_order_material_memo" %>
                  </td>
                  <td class="delivery_date" style="width:160px;">
                    <%= m.date_field(:delivery_date, value: Time.now.strftime("%Y-%m-%d"),class:"form-control input_delivery_date",style:"width:150px;",
                    name:"order[order_materials_attributes][#{i}][delivery_date]",id:"order_order_materials_attributes_#{i}_delivery_date") %>
                  </td>
                  <td class="destroy_order_material text-right" style="width:80px;padding:5px 30px 0 0;">
                    <%= m.check_box :_destroy,class:"destroy_order_materials check_box",style:"width: 24px; height: 24px;margin:0;",
                      name:"order[order_materials_attributes][#{i}][_destroy]",id:"order_order_materials_attributes_#{i}__destroy" %>
                  </td>
                </tr>
              <% end %>
              <% i = i + 1 %>
            <% end %>
          <% else %>
            <tr class="order_materials_tr">
              <td class="order_material_name" style="width:200px;">
                <%= m.select :material_id, Material.where(end_of_sales:0).pluck(:name, :id),
                {include_blank: true}, class:'select_order_materials',
                name:"order[order_materials_attributes][#{i}][material_id]",style:"width:200px;",
                id:"order_order_materials_attributes_#{i}_material_id" %>
                <div class="vendor_company_name" style="padding-top:3px;color:#A9A9A9;">
                </div>
              </td>
              <td class="order_code_search" style="width:130px;">
                <%= select_tag 'page[name]', options_from_collection_for_select(Material.where(end_of_sales:0).where.not(order_code:""), :id, :order_code),include_blank: true,class:"input_order_code" %>
              </td>
              <td class="quantity" style="width:280px;">
                <div class="clearfix">
                  <div class="" style="width:135px;float:left;">
                    <%= m.text_field :order_quantity,class:'order_quantity text-right form-control',style:"width:80px;height:27.78px;float:left",
                        name:"order[order_materials_attributes][#{i}][order_quantity]",
                        id:"order_order_materials_attributes_#{i}_order_quantity" %>
                    <div class="order_material_unit" style="float:left;padding-left:3px;padding-top:5px;">
                    </div>
                  </div>
                  <div style="width:135px;float:left;">
                    <%= m.text_field :calculated_quantity,class:'calculated_value text-right form-control',
                      name:"order[order_materials_attributes][#{i}][calculated_quantity]",id:"order_order_materials_attributes_#{i}_calculated_quantity",
                      style:"width:80px;height:27.78px;padding:2px;float:left",readonly:true %>
                    <div class="calculated_material_unit" style="float:left;padding-left:3px;padding-top:5px;">
                    </div>
                  </div>
                </div>
                <div class="change_unit" style="width:270px;color:#A9A9A9;padding:1px 0 0 10px;">
                </div>
              </td>
              <td class="order_material_memo" style="width:250px;">
                <%= m.text_field :order_material_memo,class:'form-control',style:"width:240px;",
                name:"order[order_materials_attributes][#{i}][order_material_memo]",id:"order_order_materials_attributes_#{i}_order_material_memo" %>
              </td>
              <td class="delivery_date" style="width:160px;">
                <%= m.date_field(:delivery_date, value: Time.now.strftime("%Y-%m-%d"),class:"form-control input_delivery_date",style:"width:150px;",
                name:"order[order_materials_attributes][#{i}][delivery_date]",id:"order_order_materials_attributes_#{i}_delivery_date") %>
              </td>
              <td class="destroy_order_material text-right" style="width:80px;padding:5px 30px 0 0;">
                <%= m.check_box :_destroy,class:"destroy_order_materials check_box",style:"width: 24px; height: 24px;margin:0;",
                  name:"order[order_materials_attributes][#{i}][_destroy]",id:"order_order_materials_attributes_#{i}__destroy" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="add form-group" style="margin:20px 0 10px 26px;">
    <input type="button" value="発注食材追加" class="add_order_materials btn btn-primary">
  </div>
<% end %>
