<div class="col-md-12">
  <div class="order_id col-md-3">
    <h4>発注ID：<%= @order.id %></h4>
  </div>

  <div class="order_id col-md-4">
    <h4>納品日：<%= @order.delivery_date.strftime("%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[@order.delivery_date.wday]})") %></h4>
  </div>

  <%= form_tag({:controller => "orders", :action => "order_print", format: "pdf"},{:target => "_blank"}) do %>
    <div class="col-md-3">
      <%= select :vendor,:id, @vendors.map{|t| [t["company_name"], t["vendor_id"]]},{},class:"form-control" %>
    </div>
    <div class="col-md-2">
      <input type="button" onclick="submit();" value="印刷ページ" class="btn btn-primary">
    </div>

  <% end %>
</div>

<div class="col-md-12">
<h4 class=""><strong>発注食材・資材一覧</strong></h4>
</div>
<div class="col-md-12">
  <div class="orders_all panel panel-primary">
    <div class="panel-heading col-md-12">
      <div class="panel-title material_name col-md-3">
        <strong>食材名</strong>
      </div>
      <div class="panel-title col-md-2 text-right">
        <strong>発注量</strong>
      </div>
      <div class="panel-title col-md-2">
      </div>
      <div class="panel-title col-md-3">
        <strong>仕入先</strong>
      </div>
    </div>

    <ul class="order_materials_ul list-group panel-body">
      <% @order_materials.each do |om| %>
        <li  class="list-group-item col-md-12">
          <div class="material_name col-md-3">
             <%= Material.find(om.material_id).name %>
          </div>
          <div class="order_quantity col-md-2">
            <%= om.order_quantity %>
          </div>
          <div class="material_unit col-md-2">
            <%= Material.find(om.material_id).calculated_unit %>
          </div>
          <div class="vendor_company_name col-md-3">
            <%= Vendor.find(Material.find(om.material_id).vendor_id).company_name %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
