
<div class="col-md-12">
  <div class="col-md-3">
    <label>
      発注に使用した弁当
    </label>
  </div>
</div>

<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading col-md-12" style="padding:5px;">
      <div class="col-md-4 panel-title">
        弁当名
      </div>
      <div class="col-md-3 panel-title">
        食数
      </div>
      <div class="col-md-2">
        <%=  link_to "レシピ一括印刷","/products/product_pdf_all/#{@order.id}.pdf",class:"btn btn-default",style:"font-size:8px;",:target=>"_blank" %>
      </div>
      <div class="col-md-2">
        <%=  link_to "仕込み表印刷","/products/preparation_all/#{@order.id}.pdf",class:"btn btn-default",style:"font-size:8px;",:target=>"_blank" %>
      </div>
    </div>
  <ul class="list-group panel-body" style="list-style:none;">
    <% @order.order_products.each do |op| %>
      <li class="col-md-12 list-group-item">
        <div class="col-md-4">
          <%= Product.find(op.product_id).name %>
        </div>
        <div class="col-md-3">
          <%= op.serving_for %>食
        </div>
        <div class="col-md-2">
          <%= form_tag({:controller => "products", :action => "print", format: "pdf"},{:target => "_blank"}) do %>
            <%= number_field(:volume,:id,value:op.product_id,style:"display:none;") %>
            <%= number_field(:volume,:num,value:op.serving_for,id:"amount_number_input",style:"display:none;") %>
            <input type="button" onclick="submit();" value="印刷ページ" class="btn btn-primary" >
          <% end %>
        </div>
        <div class="col-md-2">
          <%= link_to "盛付用VIEW", "/products/serving_detail/#{op.product_id}",method:"get", class:"btn btn-success",:target=>"_blank" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
</div>

<div class="col-md-12">
  <div class="order_id col-md-3">
    <h4>納品日：<%= @order.delivery_date.strftime("%Y年%-m月%-d日(#{%w(日 月 火 水 木 金 土)[@order.delivery_date.wday]})") %></h4>
  </div>

  <%= form_tag({:controller => "orders", :action => "order_print", format: "pdf"},{:target => "_blank"}) do %>
    <div class="col-md-3">
      <%= select :vendor,:id, @vendors.map{|t| [t["company_name"], t["vendor_id"]]},{},class:"order_print_select form-control" %>
    </div>
    <div class="col-md-1">
      <input type="button" onclick="submit();" value="発注書印刷" class="print_btn btn btn-primary">
    </div>
  <% end %>
  <%= form_tag({:controller => "orders", :action => "order_print_all", format: "pdf"},{:target => "_blank"}) do %>
    <div class="" style="display:none;">
      <% i=0 %>
      <% @vendors.each do |vendor| %>
      <%= text_field_tag :vendor, vendor["vendor_id"] ,name:"vendor[id#{i}]",id:"id#{i}"%>
      <% i += 1 %>
      <% end %>
    </div>
    <div class="col-md-1">
      <input type="button" onclick="submit();" value="全企業印刷" class="print_btn btn btn-primary" >
    </div>
  <% end %>
</div>


<div class="col-md-12">
  <label class="">発注食材・資材一覧</label>
  <div class=" orders_all panel panel-primary">
    <div class="panel-heading col-md-12" style="padding:5px;">
      <div class="panel-title material_name col-md-3">
        <strong>食材名</strong>
      </div>
      <div class="panel-title col-md-2 text-right">
        <strong>発注量</strong>
      </div>
      <div class="panel-title col-md-2">
      </div>
      <div class="panel-title col-md-3">
        <strong>仕入先</strong>
      </div>
    </div>

    <ul class="order_materials_ul list-group panel-body">
      <% @order_materials.each do |om| %>
        <li  class="list-group-item col-md-12" style="padding:5px;">
          <div class="material_name col-md-3">
             <%= Material.find(om.material_id).name %>
          </div>
          <div class="order_quantity col-md-2">
            <%= om.order_quantity %>
          </div>
          <div class="material_unit col-md-2">
            <%= Material.find(om.material_id).calculated_unit %>
          </div>
          <div class="vendor_company_name col-md-3">
            <%= Vendor.find(Material.find(om.material_id).vendor_id).company_name %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="col-md-12">
  <%= button_to '発注内容の編集', "/orders/#{@order.id}/edit", method: :get,class: "btn btn-defult" %>
</div>
