<body>
  </br>
  <h3>【仕入先企業の新規登録】</h3>
  <%= button_to '新規登録', "/vendors/new", method: :get %>
  </br>



  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>企業名</th>
        <th>電話番号</th>
        <th>FAX番号</th>
        <th>メールアドレス</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>担当者名</th>
        <th>担当者電話番号</th>
        <th>担当者メールアドレス</th>
        <th>メモ</th>
      </tr>
    </thead>

    </br>
    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
            <td><%= link_to vendor.id, "/vendors/#{vendor.id}/edit", method: :get %></td>
          <td><%= vendor.company_name %></td>
          <td><%= vendor.company_phone %></td>
          <td><%= vendor.company_fax %></td>
          <td><%= vendor.company_mail %></td>
          <td><%= vendor.zip %></td>
          <td><%= vendor.address %></td>
          <td><%= vendor.staff_name %></td>
          <td><%= vendor.staff_phone %></td>
          <td><%= vendor.staff_mail %></td>
          <td><%= vendor.memo %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
