<%= form_for @material do |f| %>
  <% if @material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% @material.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12 col-md-12 form-group">
    <div class="col-xs-12 col-md-4">
      <%= f.label :name, "食材・資材名" %></br>
      <%= f.text_field :name, class:'form-control' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <div class="col-xs-12 col-md-4">
      <%= f.label :order_name, "発注書記載名" %></br>
      <%= f.text_field :order_name, class:'form-control' %>
    </div>
  </div>

  <div class="col-xs-12 col-md-12 form-group">
    <div class="col-xs-12 col-md-4">
      <%= f.label :category, "カテゴリー" %></br>
      <%= f.select :category, [["食材", "食材"], ["弁当備品", "弁当備品"], ["厨房備品", "厨房備品"],
                            ["弁当容器", "弁当容器"]],{include_blank: true}, { class: "form-control"} %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <div class="col-xs-12 col-md-4">
      <%= f.label :vendor_id, "仕入先企業名" %></br>
      <%= f.collection_select :vendor_id, Vendor.all, :id, :company_name, {include_blank: true}, { class: "form-control"} %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <div class="col-xs-12 col-md-4">
      <%= f.label :order_code, "管理コード" %></br>
      <%= f.text_field :order_code, class:'form-control' %>
    </div>
  </div>
  <div class="col-md-12 form-group" style="padding:0;">
    <div class="col-md-5">
      <div class="col-xs-12 col-md-12">
        <%= f.label :order_unit, "発注時の単位" %>
      </div>
      <div class="col-xs-12 col-md-4">
        <% if local_assigns[:locals][:edit_flag] == true %>
          <%= f.text_field :order_unit_quantity,class:"input_order_unit_quantity form-control text-right" %>
        <% else %>
            <%= f.text_field :order_unit_quantity,class:"input_order_unit_quantity form-control text-right",value:1 %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= f.select :order_unit, [["kg", "kg"], ["p/c", "p/c"], ["c/s", "c/s"], ["缶", "缶"], ["束", "束"],
                              ["袋", "袋"],["箱", "箱"],["枚", "枚"],["個", "個"],["本", "本"],["匹", "匹"]],{include_blank: true}, { class: "form-control input_order_unit"} %>
      </div>
    </div>
  </div>
  <div class="col-md-12 form-group" style="padding:0;">
    <div class="col-xs-12 col-md-5">
      <div class="col-xs-12 col-md-12">
        <%= f.label :calculated_price, "-",class:"calculated_price_label col-md-12" %>
      </div>
      <div class="col-xs-9 col-md-8">
        <%= f.number_field :calculated_price, class:'form-control' %>
      </div>
      <div class="col-xs-2 col-md-4" style="margin-top:10px;padding:0;">
        円
      </div>
    </div>
  </div>

  <div class="col-md-12 form-group" style="padding:0;">
    <div class="col-xs-12 col-md-5">
      <div class="col-xs-12 col-md-12">
      <%= f.label :calculated_unit, "レシピ中使用単位" %>
      </div>
      <div class="col-xs-9 col-md-8">
        <%= f.select :calculated_unit, {ml: "ml", g: "g", 袋: "袋",尾: "尾", 本: "本", 枚: "枚",
                                      切: "切", 個: "個"},{include_blank: true}, { class: "input_calculated_unit form-control"} %>
      </div>
    </div>
  </div>
  <div class="col-md-12 form-group" style="padding:0;">
    <div class="col-xs-12 col-md-5">
      <div class="col-xs-12 col-md-12">
        <%= f.label :calculated_value, "-",class:"calculated_value_label col-md-12"%>
      </div>
      <div class="col-xs-9 col-md-8 form-group form-group">
        <%= f.text_field :calculated_value, class:'form-control' %>
      </div>
      <div class="calculated_value_unit col-xs-2 col-md-4" style="font-size:18px;margin-top:10px;padding:0;">
      </div>
    </div>
  </div>

  <div class="col-md-12 form-group" style="padding:0;">
    <div class="col-md-5">
      <%= f.label :cost_price, "単位単価", class:"cost_unit_label col-xs-12 col-md-12",style:"padding:0;margin-left:20px;" %>
      <div class="col-md-8 form-group">
        <%= f.text_field :cost_price, class:'form-control', readonly: 'readonly' %>
      </div>
      <div class="col-xs-2 col-md-4 form-group" style="margin-top:10px;padding:0;">
        円
      </div>
    </div>
  </div>
  <div class="col-md-12 form-group" style="padding:0;">
    <%= f.label :allergy, "アレルギーチェック[必須]", class:"col-md-12",style:"padding:0;margin-left:20px;" %>
    <div class="col-md-1 form-group" style="margin-left:20px;">
      <%= label_tag :egg, '卵' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("egg"),class:"form-control"}, 'egg', nil %>

    </div>
    <div class="col-md-1 form-group" >
      <%= label_tag :milk, '乳' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("milk"),class:"form-control"}, 'milk', nil %>
    </div>
    <div class="col-md-1 form-group" >
      <%= label_tag :shrimp, 'えび' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("shrimp"),class:"form-control"}, 'shrimp', nil %>
    </div>
    <div class="col-md-1 form-group" >
      <%= label_tag :crab, 'かに' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("crab"),class:"form-control"}, 'crab', nil %>
    </div>
    <div class="col-md-1 form-group" >
      <%= label_tag :peanuts, '落花生' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("peanuts"),class:"form-control"}, 'peanuts', nil %>
    </div>
    <div class="col-md-1 form-group" >
      <%= label_tag :soba, 'そば' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("soba"),class:"form-control"}, 'soba', nil %>
    </div>
    <div class="col-md-1 form-group" >
      <%= label_tag :wheat, '小麦' %>
      <%= f.check_box  :allergy, {multiple: true, checked: @material.allergy.include?("wheat"),class:"form-control"}, 'wheat', nil %>
    </div>
  </div>

  <div class="col-md-12 form-group" style="padding:0;">
    <div class="col-md-12" style="margin-top:20px;">
    <%= f.label :food_additive, "食品添加物[必須]", class:"",style:"padding:0;margin-left:20px;" %>
      <span class="glyphicon glyphicon-plus-sign add_food_additive" style="color:#428bca;font-size:20px;"></span>
    </div>
    <ul class='food_additive_ul' style="list-style-type:none;">
    <% i=0 %>
    <%= f.fields_for :material_food_additives, @material.material_food_additives do |mm| %>
      <li class='add_li_food_additive col-md-4' style="">
        <div class="select_food_additive col-md-8" style="padding:3px;width:210px;">
         <%= mm.select :food_additive_id, FoodAdditive.pluck(:name, :id),{include_blank: true},
          class:'input_select_food_additive' %>
       </div>
        <div class="remove_food_additive col-md-3" style="padding-top:10px;">
          <span class="glyphicon glyphicon-remove remove_btn" style="color:#d9534f;"></span>
          <%= mm.check_box :_destroy,class:"destroy_food_additives check_box form-control", style: "display:none;" %>
        </div>
      </li>
      <% i += 1 %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-12 form-group">
    <div class="col-xs-12 col-md-6">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo, class:'form-control', style:"height:10em;" %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 form-group">
    <div class="col-xs-12 col-md-2 check_box">
      <%= f.label :end_of_sales, "終売" %>
      <%= f.check_box :end_of_sales, class:"check_box form-control" %>
    </div>
  </div>
  <%= f.hidden_field :back_to, :value => @back_to %>

  <% if local_assigns[:locals][:edit_flag] == true %>
    <div class="action col-md-12" style="margin-bottom:20px;">
      <%= submit_tag "更新する", class:"btn btn-success", data: { confirm: "更新すると「#{@material.name}」を使用している、メニュー等全てに反映されますが、よろしいですか？"} %>
    </div>
  <% else %>
    <div class="action col-md-3 form-group">
      <input type="button" onclick="submit();" value="登録する" class="btn btn-success">
    </div>
  <% end %>
<% end %>
