<body>
<%= form_tag("/materials/#{@material.id}", method: :patch ) do %>
  <h3>
    編集する
  </h3>
  <label for="name">食材/資材名：</br>
  <input name="name" placeholder="name" type="text" value="<%= @material.name %>" >
  </br>
  <label for="delivery_slip_name">納品書名：</br>
  <input name="delivery_slip_name" placeholder="delivery_slip_name" value="<%= @material.delivery_slip_name %>">
  </br>
  <label for="calculated_value">計上単位：</br>
  <input name="calculated_value"placeholder="calculated_value" value="<%= @material.calculated_value %>">
  </br>
  <label for="calculated_unit">計上単位：</br>
  <input name="calculated_unit" placeholder="calculated_unit" value="<%= @material.calculated_unit %>">
  </br>
  <label for="calculated_price">計上単価：</br>
  <input name="calculated_price" placeholder="calculated_price" value="<%= @material.calculated_price %>">
  </br>
  <label for="cost_price">原価単価：</br>
  <input name="cost_price" placeholder="cost_price" value="<%= @material.cost_price %>">
  </br>
  <label for="cost_unit">原価単位：</br>
  <input name="cost_unit" placeholder="cost_unit" value="<%= @material.cost_unit %>">
  </br>
  <label for="category">カテゴリー：</br>
  <input name="category" placeholder="category" value="<%= @material.category %>">
  </br>
  <label for="vendor">仕入先：</br>
  <input name="vendor" placeholder="vendor" value="<%= @material.vendor %>">
  </br>
  <label for="code">管理コード：</br>
  <input name="code" placeholder="code" value="<%= @material.code %>">
  </br>
  <label for="memo">メモ：</br>
  <textarea name="memo" placeholder="memo" rows="5" ><%= @material.memo %></textarea>
  </br>
  <label for="status">終売：</br>
  <input name="status" type="checkbox" value="1" >
  </br>
   <input type="submit" value="更新">
  </br>
<% end %>
</body>
