  <h3>食材資材の新規登録
    <a href="/materials/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
      </span>
    </a>
  </h3>


  <%= form_tag Material, :method => 'get' do %>

  <div class="col-xs-12 col-md-3">
    <p>食材・資材名：</p>
    <%= text_field_tag :name, params[:name], class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>発注名：</p>
    <%= text_field_tag :order_name, params[:order_name], class:"form-control" %>
  </div>
  <div class="col-xs-12 col-md-2">
    <p>仕入先：</p>
    <%= select_tag :vendor_id, options_from_collection_for_select(Vendor.all, :id, :company_name), include_blank: true, class: "form-control" %>

  </div>
  <div class="col-xs-12 col-md-2">
    <p>管理コード：</p>
    <%= text_field_tag :order_code, params[:order_code], class:"form-control" %>
  </div>
    <div class="kensaku form-group">
      <p>　</p>
      　<%= submit_tag "検索" ,class:"btn btn-primary" %>
    </div>
<% end %>



<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>食材・資材名</th>
      <th>発注名</th>
      <th>計上単位</th>
      <th>計上単位</th>
      <th>計上単価(円)</th>
      <th>原価単価(円)</th>
      <th>カテゴリー</th>
      <th>仕入先</th>
      <th>発注コード</th>
      <th>メモ</th>
      <th>終売</th>
    </tr>
  </thead>

  </br>
  <tbody>
    <% @search.each do |material| %>
      <tr class="materials_tr" style="cursor: pointer">
          <td class="materials_index"><%= link_to material.id, "/materials/#{material.id}/edit", method: :get %></td>
        <td><%= material.name %></td>
        <td><%= material.order_name %></td>
        <td><%= number_with_delimiter(material.calculated_value) %></td>
        <td><%= material.calculated_unit %></td>
        <td><%= number_with_delimiter(material.calculated_price) %></td>
        <td><%= material.cost_price.round(2) %></td>
        <td><%= material.category %></td>
        <td><%= material.vendor.company_name%></td>
        <td><%= material.order_code %></td>
        <td><%= material.memo %></td>
        <td><%= p "✔" if material.end_of_sales == 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @search.size == 0 then %>
<p>該当する食材・資材が存在しません</p>
<% end %>

<br>

  <%= paginate(@search) %>
  <!-- ページネーション -->
