<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li class="active">食材資材一覧</li>
</ol>


<div class="form-inline col-md-12" style="padding:10px;">
  <h3>食材資材の新規登録
    <a href="/materials/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
      </span>
    </a>
  </h3>
</div>


<div class="col-xs-12 col-md-12">
  <%= form_tag Material, :method => 'get' do %>
    <div class="col-xs-3 col-md-2">
      <label>食材・資材名：</label>
      <%= text_field_tag :name, params[:name], class:"form-control" %>
    </div>
    <div class="col-xs-3 col-md-2">
      <label>発注名：</label>
      <%= text_field_tag :order_name, params[:order_name], class:"form-control" %>
    </div>
    <div class="col-xs-3 col-md-2">
      <label>仕入先：</label>
      <%= select_tag :vendor_id, options_from_collection_for_select(Vendor.all, :id, :company_name),
       include_blank: true, class: "form-control" %>
    </div>
    <div class="col-xs-3 col-md-2">
      <label>管理コード：</label>
      <%= text_field_tag :order_code, params[:order_code], class:"form-control" %>
    </div>
    <div class="col-xs-3 col-md-1">
      <label>終売：</label>
      <%= select :end_of_sales, :value, [["販売のみ", 0], ["終売のみ", 1]], {include_blank: true},class:"form-control" %>
    </div>
    <div class="kensaku form-group col-md-1">
			<label>　　　　</label>
      　<%= submit_tag "検索" ,class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="col-md-12">
  <%= paginate(@search) %>
</div>
<table class="materials-table" style="width:1240px">
  <tr class="" style="padding:10px;">
    <th class="">食材・資材名</th>
    <th class="">発注名</th>
    <th>発注単位</th>
    <th class="">価格(円)</th>
    <th class="">原価(円)</th>
    <th class="">カテゴリ</th>
    <th class="">仕入先</th>
    <th class="">終売</th>
    <th style="text-align:center;">使用</th>
  </tr>
	<% @search.each do |material| %>
    <tr class="materials_li ">
      <td class="material_name "><%=link_to "#{material.name}", "/materials/#{material.id}/edit" %></td>
      <td class=""><%= material.order_name %></td>
      <td class=""><%= material.order_unit_quantity %><%= material.order_unit %> ： <%= number_with_delimiter(material.calculated_value) %><%= material.calculated_unit %></td>
      <td class=" text-right"><%= number_with_delimiter(material.calculated_price) %></td>
      <td class=" text-right"><%= material.cost_price.round(2) %></td>
      <td class=""><%= material.category %></td>
      <td class=""><%= material.vendor.company_name%></td>
      <td class=" end_of_sales"><%= p "✔" if material.end_of_sales == 1 %></td>
      <td style="text-align:center;"><%=button_to "確認", "/materials/include_material/#{material.id}", method: :get,class:"btn btn-default btn-sm" %></td>
  	</tr>
	<% end %>
</table>

<% if @search.size == 0 then %>
<p>該当する食材・資材が存在しません</p>
<% end %>

<br>

  <%= paginate(@search) %>
  <!-- ページネーション -->
