<div class="form-inline col-md-12" style="padding:10px;">
  <h3>食材資材の新規登録
    <a href="/materials/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
      </span>
    </a>
  </h3>
</div>


<div class="col-xs-12 col-md-12">
  <%= form_tag Material, :method => 'get' do %>
    <div class="col-xs-3 col-md-2">
      <p>食材・資材名：</p>
      <%= text_field_tag :name, params[:name], class:"form-control" %>
    </div>
    <div class="col-xs-3 col-md-2">
      <p>発注名：</p>
      <%= text_field_tag :order_name, params[:order_name], class:"form-control" %>
    </div>
    <div class="col-xs-3 col-md-2">
      <p>仕入先：</p>
      <%= select_tag :vendor_id, options_from_collection_for_select(Vendor.all, :id, :company_name),
       include_blank: true, class: "form-control" %>
    </div>
    <div class="col-xs-3 col-md-2">
      <p>管理コード：</p>
      <%= text_field_tag :order_code, params[:order_code], class:"form-control" %>
    </div>
    <div class="col-xs-3 col-md-1">
      <p>終売：</p>
      <%= select :end_of_sales, :value, [["販売のみ", 0], ["終売のみ", 1]], {include_blank: true},class:"form-control" %>
    </div>
    <div class="kensaku form-group col-md-2">
      <p>　</p>
      　<%= submit_tag "検索" ,class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
<div>
  <div class="col-md-12" style="padding:10px;">
    <div class="col-md-2">食材・資材名</div>
    <div class="col-md-2">発注名</div>
    <div class="col-md-1">計上単位</div>
    <div class="col-md-1">計上単位</div>
    <div class="col-md-1">計上単価(円)</div>
    <div class="col-md-1">原価単価(円)</div>
    <div class="col-md-1">カテゴリー</div>
    <div class="col-md-1">仕入先</div>
    <div class="col-md-1">終売</div>
    <div class="col-md-1"</div>
  </div>
  <ul class='list-group' style="list-style-type: none;">
    <% @search.each do |material| %>
      <li class="li-active materials_li col-md-12 list-group-item"  style="cursor: pointer">
        <div class="material_name col-md-2"><%=link_to "#{material.name}", "/materials/#{material.id}/edit", method: :get %></div>
        <div class="col-md-2"><%= material.order_name %></div>
        <div class="col-md-1"><%= number_with_delimiter(material.calculated_value) %></div>
        <div class="col-md-1"><%= material.calculated_unit %></div>
        <div class="col-md-1"><%= number_with_delimiter(material.calculated_price) %></div>
        <div class="col-md-1"><%= material.cost_price.round(2) %></div>
        <div class="col-md-1"><%= material.category %></div>
        <div class="col-md-1"><%= material.vendor.company_name%></div>
        <div class="col-md-1"><%= p "✔" if material.end_of_sales == 1 %></div>
        <div class="col-md-1">
          <%=link_to "使用メニュー", "/materials/include_material/#{material.id}", method: :get %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<% if @search.size == 0 then %>
<p>該当する食材・資材が存在しません</p>
<% end %>

<br>

  <%= paginate(@search) %>
  <!-- ページネーション -->
