<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
  <li><a href="/materials">食材資材一覧</a></li>
	<li class="active"><%= @material.name %></li>
</ol>

<div>
  <div class="active col-md-12" style="padding:10px">
    <div class="col-md-3">食材資材名</div>
    <div class="col-md-3">発注名</div>
    <div class="col-md-2">発注量</div>
    <div class="col-md-1">発注単位</div>
    <div class="col-md-3">値段</div>
  </div>
  <ul class="list list-group">
    <li class="list-group-item col-md-12">
      <div class="col-md-3"><%= @material.name %></div>
      <div class="col-md-3"><%= @material.order_name %> 円</div>
      <div class="col-md-2"><%= @material.calculated_value %></div>
      <div class="col-md-1"><%= @material.calculated_unit %></div>
      <div class="col-md-3"><%= @material.calculated_price %></div>
    </li>
  </ul>
</div>
