<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container form-group">
    <%= f.label :name, "弁当名" %><br>
    <div class="col-xs-12 col-md-6">
      <%= f.text_field :name, id: "menu_search", autocomplete: "off", class:"name form-control" %>
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :cook_category, "調理カテゴリー" %><br>
    <div class="col-xs-12 col-md-6">
    <%= f.select :cook_category, {グリル: "グリル", コンロ: "コンロ", フライヤー: "フライヤー", 前日コンロ: "前日コンロ",
                                  フライヤー・グリル: "フライヤー・グリル", グリル・コンロ: "グリルコンロ", 前日グリル: "前日グリル",
                                   その他: "その他"},{include_blank: true}, { class: "form-control"} %>
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :product_type, "弁当種類" %><br>
    <div class="col-xs-12 col-md-6">
    <%= f.select :product_type, {デラックス: "デラックス", ヘルシー: "ヘルシー", ノーマル: "ノーマル", プレミアム: "プレミアム",
                                ボウル: "ボウル", 麺: "麺", その他: "その他"}, {include_blank: true}, { class: "form-control"} %>
    </div>
  </div>

  <div class="container form-group">
    <%= f.label :product_image, "弁当写真" %><br>
    <%= f.file_field :product_image %>
    <%= f.hidden_field :product_image_cache %>
  </div>

  <div class="container form-group">
    <% if @product.product_image? %>
      <%= image_tag @product.product_image.url %>
        <div class="form-group">
            <%= f.label :remove_product_image,"削除する" %>
            <%= f.check_box :remove_product_image %>


        </div>
    <% end %>
  </div>

  <div class="container form-group">
    <%= f.label :sell_price, "販売価格" %><br>
    <div class="col-xs-11 col-md-5">
      <%= f.number_field :sell_price, class:"price form-control" %>
    </div>
    <div class="col-xs-1 col-md-1">
      円
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :description, "説明文" %><br>
    <div class="col-xs-12 col-md-6">
      <%= f.text_area :description, class:"form-control", style:"height:10em;" %>
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :contents, "内容物" %><br>
    <div class="col-xs-12 col-md-6">
      <%= f.text_area :contents, class:"form-control", style:"height:10em;" %>
    </div>
  </div>
  <div class="container form-group">
    <div class="col-xs-3 col-md-2">
      <label>食材原価合計</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_menu_cost">
    </div>
    <div class="col-xs-3 col-md-2">
      <label>消費税8%</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_menu_cost_tax">
    </div>
    <div class="col-xs-3 col-md-2">
      <%= f.label :cost_price, "弁当原価" %><br>
      <%= f.text_field :cost_price, :readonly => 'readonly', class:"product_cost_price form-control" %>
    </div>
    <br><br>
    <div class="col-xs-1 col-md-1">
      円
    </div>
  </div>
  <div class="menu-area table-striped">
    <div class="col-md-12" style="margin:10px 10px;">
        <div class="col-md-1">カテゴリ</div>
        <div class="col-md-3">メニュー名</div>
        <div class="col-md-1  text-right">原価</div>
        <div class="col-md-2">材料名</div>
        <div class="col-md-1">使用量</div>
        <div class="col-md-2">仕込み</div>
        <div class="col-md-1 text-right"></div>
    </div>

    <ul class='used_menu_ul list-group' style="list-style:none;">
      <%= f.fields_for :product_menus do |pr| %>
      <li class="add_li_menu col-md-12 list-group-item" style="padding:5px 5px;">
        <div class="col-md-1">
          <%= select :category,:category, [["主食"],[ "主菜"],[ "副菜"],["容器"]],{include_blank: true}, { class: "category_select form-control"} %>
        </div>
        <div class="select_menu col-md-3">
            <%= pr.select :menu_id, Menu.pluck(:name, :id),{include_blank: true}, class:'input_select_menu'%>
        </div>

        <div class="cost_price col-md-1">
        </div>

        <div class="material_name col-md-2">
          <ul style="list-style:none;"></ul>
        </div>
        <div class="amount_used col-md-1">
          <ul style="list-style:none;"></ul>
        </div>
        <div class="preparation col-md-2">
          <ul style="list-style:none;"></ul>
        </div>

        <div class="remove_menu col-md-2 text-right">
          <a class ="remove_menu_btn btn btn-danger" >削除</a>
          <%= pr.check_box :_destroy,class:"destroy_menu", style: "display:none;" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-12" style="margin:10px 10px 30px 0;">
    <a class="add_menu btn btn-primary">品目追加</a>
  </div>
  <div class="action">
    <input type="button" onclick="submit();" value="登録する" class="btn btn-success">
  </div>
<% end %>
