<%= form_for @product do |f| %>
<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this recipe from being saved:</h2>

    <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="container form-group">
    <%= f.label :name, "弁当名" %><br>
    <div class="col-xs-12 col-md-6">
      <%= f.text_field :name, id: "menu_search", autocomplete: "off", class:"name form-control" %>
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :cook_category, "調理カテゴリー" %><br>
    <div class="col-xs-12 col-md-6">
    <%= f.select :cook_category, {グリル: "グリル", コンロ: "コンロ", フライヤー: "フライヤー", 前日コンロ: "前日コンロ",
                                  フライヤー・グリル: "フライヤー・グリル", グリル・コンロ: "グリルコンロ", 前日グリル: "前日グリル",
                                   その他: "その他"},{include_blank: true}, { class: "form-control"} %>
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :product_type, "弁当種類" %><br>
    <div class="col-xs-12 col-md-6">
    <%= f.select :product_type, {デラックス: "デラックス", ヘルシー: "ヘルシー", ノーマル: "ノーマル", プレミアム: "プレミアム",
                                ボウル: "ボウル", 麺: "麺", その他: "その他"}, {include_blank: true}, { class: "form-control"} %>
    </div>
  </div>

  <div class="container form-group">
    <%= f.label :product_image, "弁当写真" %><br>
    <%= f.file_field :product_image %>
    <%= f.hidden_field :product_image_cache %>
  </div>

  <div class="container form-group">
    <% if @product.product_image? %>
      <%= image_tag @product.product_image.url %>
        <div class="form-group">
            <%= f.label :remove_product_image,"削除する" %>
            <%= f.check_box :remove_product_image %>


        </div>
    <% end %>
  </div>

  <div class="container form-group">
    <%= f.label :sell_price, "販売価格" %><br>
    <div class="col-xs-11 col-md-5">
      <%= f.number_field :sell_price, class:"price form-control" %>
    </div>
    <div class="col-xs-1 col-md-1">
      円
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :description, "説明文" %><br>
    <div class="col-xs-12 col-md-6">
      <%= f.text_area :description, class:"form-control", style:"height:10em;" %>
    </div>
  </div>
  <div class="container form-group">
    <%= f.label :contents, "内容物" %><br>
    <div class="col-xs-12 col-md-6">
      <%= f.text_area :contents, class:"form-control", style:"height:10em;" %>
    </div>
  </div>
  <div class="container form-group">
    <div class="col-xs-3 col-md-2">
      <label>食材原価合計</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_menu_cost">
    </div>
    <div class="col-xs-3 col-md-2">
      <label>消費税8%</label>
      <input name="a" type="text" disabled="disabled" class="form-control sum_menu_cost_tax">
    </div>
    <div class="col-xs-3 col-md-2">
      <%= f.label :cost_price, "弁当原価" %><br>
      <%= f.text_field :cost_price, :readonly => 'readonly', class:"product_cost_price form-control" %>
    </div>
    <br><br>
    <div class="col-xs-1 col-md-1">
      円
    </div>
  </div>
  <table class="table menu-table table-striped">
    <thead>
      <tr>
        <th>カテゴリ</th>
        <th>メニュー名</th>
        <th >原価</th>
        <th>食材名</th>
        <th>使用量</th>
        <th></th>
      </tr>
    </thead>

    <tbody class='used_menu_table_body'>
      <%= f.fields_for :product_menus do |pr| %>
      <tr class="add_tr_menu">
        <td class="col-md-1">
          <%= select :category,:category, [["主食"],[ "主菜"],[ "副菜"],["容器"]],{include_blank: true}, { class: "category_select form-control"} %>
        </td>
        <td class="select_menu">
            <%= pr.select :menu_id, Menu.pluck(:name, :id),{include_blank: true}, class:'input_select_menu'%>
        </td>

        <td class="cost_price">
        </td>

        <td class="material_name">
          <ul style="list-style:none;"></ul>
        </td>

        <td class="amount_used">
          <ul style="list-style:none;"></ul>
        </td>
        <td class="material_unit">
          <ul style="list-style:none;"></ul>
        </td>

        <td class="remove_menu">
          <a class ="remove_menu_btn btn btn-danger" >削除</a>
          <%= pr.check_box :_destroy,class:"destroy_menu", style: "display:none;" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <a class="add_menu btn btn-primary">品目追加</a>

  <div class="action">
    <input type="button" onclick="submit();" value="登録する" class="btn btn-success">
  </div>
<% end %>
