<% search.each do |product| %>
  <li class="li-active products_li col-md-12 list-group-item" id="aaa">
    <div class="product_id" style="display:none;">
      <%= product.id %>
    </div>
    <div class="col-md-1">
      <%= product.bento_id %>
    </div>
    <div class="product_name col-md-2">
      <%= link_to "#{product.name}", "/products/#{product.id}/" %>
    </div>
    <div class="col-md-1">
      <%= product.cook_category %>
    </div>
    <div class="col-md-1">
      <%= product.product_type %>
    </div>
    <div class="col-md-1 price text-right">
      <%= product.sell_price %>円
    </div>
    <div class="col-md-1 price text-right">
      <%= product.cost_price %>円
    </div>
    <div class="col-md-1 text-center">
      <% catch :exit do %>
        <% product.menus.each do |menu| %>
          <% menu.materials.each do |material| %>
            <% if material.end_of_sales==1 %>
              ✔
              <% throw :exit %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-default hyoji-btn" data-toggle="modal" data-target="#sampleModal">シール</button>
    </div>
    <div class="col-md-1">
      <%= link_to "CSV", "/products/#{product.id}.csv", class: "btn btn-default" %>
    </div>
    <div class="col-md-1">
      <%= image_tag product.product_image.thumb.url if product.product_image.present? %>
    </div>
  </li>
  <% end %>
<!-- モーダル・ダイアログ -->
<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">食品表示を印刷する</h4>
			</div>
			<div class="modal-body">
        <%= form_tag products_hyoji_path(format: :pdf) do %>
          <div class="modal_product_id" style="display:none;">
            <%= number_field :num,{}, name:"id",id:"hyoji_product_id",class:'form-control'%>
          </div>
          <p>賞味期限</p>
          <div>
           <%= datetime_select :datetime_ida,"",{:default => DateTime.now.beginning_of_day + 1.day + 17.hour}, {class:"form-control",style:"display: inline-block;width: auto;" } %>
          </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%= submit_tag '食品表示', class:"btn btn-success" %>
      <% end %>
			</div>
		</div>
	</div>
</div>
