<li class="add_li_menu col-md-12 list-group-item nested-fields field" style="padding:5px 5px;">
  <div class="row_order" style='display:none;'>
    <%= f.number_field :row_order, class:"input_row_order form-control" %>
  </div>
  <div class="category_select col-md-1">
    <%= select :category,:category, [["主食"],[ "主菜"],[ "副菜"],["容器"]],{include_blank: true}, { class: "input_category_select form-control"} %>
  </div>
  <div class="select_menu col-md-2">
      <%= f.select :menu_id, Menu.pluck(:name, :id),{include_blank: true}, class:'input_select_menu'%>
      <div class=''>
        カロリー：
        <span class='product_make_menu_calorie'>
          <%= f.object.menu.menu_materials.sum(:calorie).round(2) if f.object.menu.present? %>
        </span>
        kcal
      </div>
  </div>
  <div class="cost_price col-md-1">
    <%= f.object.menu.cost_price if f.object.menu.present? %>
  </div>
  <div class="material_name col-md-6">
    <ul style="list-style:none;padding:0;">
      <% if f.object.menu.present? %>
        <% f.object.menu.menu_materials.each do |mm| %>
          <li class="col-md-12">
            <div class="col-md-4">
              <%= mm.material.name %>
            </div>
            <div class="col-md-2 text-right">
              <%= mm.amount_used %> <%= mm.material.calculated_unit %>
            </div>
            <div class="col-md-2 text-right">
              <%= (mm.amount_used * mm.material.cost_price).round(1) %>
            </div>
            <div class="col-md-4">
              <%= mm.preparation %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="remove_menu col-md-1 text-right">
    <%= link_to_remove_association '削除', f,class:'remove_menu_btn btn btn-danger' %>
  </div>
</li>
