<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li class="active">お弁当一覧</li>
</ol>

<div class="form-inline col-md-12" style="">
  <h3>お弁当の新規登録
    <a href="/products/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
  </h3>
</div>
<div class="" style="">
  <%= form_tag Product, :method => 'get', class:"form-group col-md-12" do %>
	<div class="kensaku col-md-2">
		<p>bentoID▼</p>
		<%= text_field_tag :bento_id, params[:bento_id], class:"id_search form-control",style:"width:100%" %>
	</div>
	<div class="kensaku col-md-4">
    <p>お弁当名▼</p>
		<%= select_tag :name, options_from_collection_for_select(Product.select(:name),:name,:name),include_blank: true, class:"name_search form-control" %>
  </div>
  <div class="kensaku col-md-2">
    <p>調理カテゴリー▼</p>
    <%= select_tag :cook_category, options_from_collection_for_select(Product.select(:cook_category).uniq, :cook_category, :cook_category), include_blank: true, class: "form-control",style:"width:100%" %>
  </div>
  <div class="kensaku col-md-2">
     <p>お弁当タイプ▼</p>
    <%= select_tag :product_type, options_from_collection_for_select(Product.select(:product_type).uniq, :product_type, :product_type), include_blank: true, class: "form-control",style:"width:100%" %>
  </div>
  <div class="kensaku col-md-2">
    <p>　</p>
  　<%= submit_tag "検索" ,class:"btn btn-primary" %>
  </div>
  <% end %>
</div>
<div class="col-md-12">
  <%= paginate(@search) %>
</div>

<div class="">
  <div class="col-md-12" style="padding:10px;">
		<div class="col-md-1">bentoID</div>
    <div class="col-md-2">弁当名</div>
    <div class="col-md-1">カテゴリ</div>
    <div class="col-md-1">弁当種類</div>
    <div class="col-md-1">販売価格</div>
    <div class="col-md-1">原価(税込)</div>
		<div class="col-md-1">終売食材✔</div>
    <div class="col-md-1">食品表示</div>
    <div class="col-md-1">csv</div>
    <div class="col-md-1">画像</div>
  </div>
  <ul class='aaaad list-group' style="list-style-type: none;">
  	<%= render partial: 'li', locals: { search: @search } %>
  </ul>
</div>
<% if @search.size == 0 then %>
  <p>該当するお弁当が存在しません</p>
<% end %>
</br>
  <%= paginate(@search) %>
