<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
	<li class="active">お弁当一覧</li>
</ol>

<div class="form-inline col-md-12" style="padding:10px;">
  <h3>お弁当の新規登録
    <a href="/products/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
  </h3>
</div>
<div class="form-inline col-md-12" style="padding:10px;">
  <%= form_tag Product, :method => 'get', class:"form-group" do %>
	<div class="kensaku form-group col-md-2">
		<p>連携ID▼</p>
		<%= text_field_tag :bento_id, params[:bento_id], class:"form-control",style:"width:100%" %>
	</div>
	<div class="kensaku form-group col-md-3">
    <p>お弁当名▼</p>
    <%= text_field_tag :name, params[:name], class:"form-control",style:"width:100%" %>
  </div>
  <div class="kensaku form-group col-md-2">
    <p>調理カテゴリー▼</p>
    <%= select_tag :cook_category, options_from_collection_for_select(Product.select(:cook_category).uniq, :cook_category, :cook_category), include_blank: true, class: "form-control",style:"width:100%" %>
  </div>
  <div class="kensaku form-group col-md-2">
     <p>お弁当タイプ▼</p>
    <%= select_tag :product_type, options_from_collection_for_select(Product.select(:product_type).uniq, :product_type, :product_type), include_blank: true, class: "form-control",style:"width:100%" %>
  </div>
  <div class="kensaku form-group">
    <p>　</p>
  　<%= submit_tag "検索" ,class:"btn btn-primary" %>
  </div>
  <% end %>
</div>
<div class="col-md-12">
  <%= paginate(@search) %>
</div>

<div class="">
  <div class="col-md-12" style="padding:10px;">
		<div class="col-md-1">連携ID</div>
    <div class="col-md-2">弁当名</div>
    <div class="col-md-1">カテゴリ</div>
    <div class="col-md-1">弁当種類</div>
    <div class="col-md-1">販売価格</div>
    <div class="col-md-1">原価(税込)</div>
		<div class="col-md-1">終売食材✔</div>
    <div class="col-md-1"></div>
    <div class="col-md-1">csv</div>
    <div class="col-md-1">画像</div>
  </div>
  <ul class='list-group' style="list-style-type: none;">
    <% @search.each do |product| %>
      <li class="li-active products_li col-md-12 list-group-item" id="aaa">
				<div class="col-md-1">
					<%= product.bento_id %>
				</div>
        <div class="product_name col-md-2">
          <%= link_to "#{product.name}", "/products/#{product.id}/" %>
        </div>
        <div class="col-md-1">
          <%= product.cook_category %>
        </div>
        <div class="col-md-1">
          <%= product.product_type %>
        </div>
        <div class="col-md-1 price text-right">
          <%= product.sell_price %>円
        </div>
        <div class="col-md-1 price text-right">
          <%= product.cost_price %>円
        </div>
				<div class="col-md-1 text-center">
					<% catch :exit do %>
						<% product.menus.each do |menu| %>
							<% menu.materials.each do |material| %>
								<% if material.end_of_sales==1 %>
									✔
									<% throw :exit %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>
        <div class="col-md-1">

        </div>
        <div class="col-md-1">
          <%= link_to "CSV", "/products/#{product.id}.csv", class: "btn btn-default" %>
        </div>
        <div class="col-md-1">
          <%= image_tag product.product_image.thumb.url if product.product_image.present? %>
        </div>
      </li>
      <% end %>
  </ul>
</div>
<% if @search.size == 0 then %>
  <p>該当するお弁当が存在しません</p>
<% end %>
</br>
  <%= paginate(@search) %>
