  <h3>お弁当の新規登録
    <a href="/products/new">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
      </span>
    </a>
  </h3>
  <p>　</p>
  <div>
    <%= form_tag Product, :method => 'get', class:"form-inline" do %>
    <div class="kensaku form-group">
      <p>お弁当名▼</p>
      <%= text_field_tag :name, params[:name], class:"form-control" %>
    </div>
    <div class="kensaku form-group">
      <p>調理カテゴリー▼</p>
      <%= select_tag :cook_category, options_from_collection_for_select(Product.select(:cook_category).uniq, :cook_category, :cook_category), include_blank: true, class: "form-control" %>
    </div>
    <div class="kensaku form-group">
       <p>お弁当タイプ▼</p>
      <%= select_tag :product_type, options_from_collection_for_select(Product.select(:product_type).uniq, :product_type, :product_type), include_blank: true, class: "form-control" %>
    </div>
    <div class="kensaku form-group">
      <p>　</p>
    　<%= submit_tag "検索" ,class:"btn btn-primary" %>
    </div>
  </div>


<% end %>
<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>弁当名</th>
        <th>調理カテゴリー</th>
        <th>弁当の種類</th>
        <th>販売価格</th>
        <th>原価(税8%含)</th>
        <th>説明文</th>
        <th>内容物</th>
        <th>画像</th>
      </tr>
    </thead>
    </br>
    <tbody>
      <% @search.each do |product| %>
        <tr class="products_tr" style="cursor: pointer">
          <td class="products_index"><%= link_to "#{product.id}", "/products/#{product.id}/", method: :get %></td>
          <td><%= product.name %></td>
          <td><%= product.cook_category %></td>
          <td><%= product.product_type %></td>
          <td class="price text-right"><%= product.sell_price %>円</td>
          <td class="price text-right"><%= product.cost_price %>円</td>
          <td><%= truncate(product.description,length:10) %></td>
          <td><%= truncate(product.contents,length:10) %></td>
          <td>
            <%= image_tag product.product_image.thumb.url if product.product_image.present? %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>


<% if @search.size == 0 then %>
<p>該当するお弁当が存在しません</p>
<% end %>

</br>

  <%= paginate(@search) %>
  <!-- ページネーション -->
