
<!-- ヘッダー等を非表示にしたため、コントローラーでfalseにし、ヘッドを読み込んでいる -->

  <head>
    <title>Order</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
  </head>
  <body>
    <div class="all_body">

    <div class="col-xs-11 col-md-4 form-inline">
     <input type="number" id="amount_number_input" class="form-control text-right" placeholder="食数を入力">
      <input id="amount_calculation" type="button" onclick="" value="計算" class="btn btn-primary">
    </div>
    <p></p>
    <div class="text-right">
      <input type="button" value="このレシピを印刷をする" onclick="window.print();" class="btn btn-success">
    </div>
    <div class="amount_number col-xs-12 col-md-12">

    </div>
    <br>
    <br>
    <table class="table">
       <thead>
         <tr class="active">
           <th>弁当名</th>
           <th>調理カテゴリー</th>
           <th>弁当種類</th>
           <th>原価価格</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= @product.name %></td>
           <td><%= @product.cook_category %></td>
           <td><%= @product.product_type %></td>
           <td class="text-right"><%= @product.cost_price %>円</td>
         </tr>
       </tbody>
    </table>
    <div class ="col-xs-12 col-md-8">
      <table class="table">
         <thead class="">
           <tr class="active">
             <th class="col-md-2">メニュー名</th>
             <th class="col-md-1">カテゴリ</th>
             <th class="col-md-2">レシピ</th>
             <th class="col-md-2">盛り付けメモ</th>
             <th class="col-md-2">食材資材名</th>
             <th class="col-md-1" colspan="2">使用量</th>
             <th colspan="2" class="calculate_amount_used_th col-md-1" style="display: none; font-size:20px;">使用量</th>
           </tr>
         </thead>
          <tbody class="">
            <% @menus.each do |menu| %>
            <tr  class="first_tr table_tr">
              <td class="menu_materials_length" style="display:none;"><%= menu.materials.length %></td>
             <td class="first_tr_td"><%= menu.name %></td>
             <td class="first_tr_td"><%= menu.category %></td>
             <td class="first_tr_td"><%= menu.recipe %></td>
             <td class="first_tr_td"><%= menu.serving_memo %></td>
             <% i = 1 %>
             <% u = menu.materials.length %>
             <% menu.materials.zip(menu.menu_materials).each do |material, menu_material|%>
             <td class=""><%= material.name %></td>
             <td class="original_amount_used text-right"><%= menu_material.amount_used %></td>
             <td class=""><%= material.calculated_unit %></td>
             <td class="calculate_amount_used" style="display: none; font-weight:bold; font-size:20px;"></td>
             <td class="calculate_unit" style="display: none; font-weight:bold;"><%= material.calculated_unit %></td>
              </tr>
              <% if i == menu.materials.length  %>
                <% else %>
                  <tr class="table_tr">
                  <% i += 1 %>
              <% end %>
            <% end %>
           <% end %>
       </tbody>
     </table>
     </div>

      <div class ="product_image_l col-xs-12 col-md-4">
        <%= image_tag @product.product_image.to_s, class:"img-responsive" %>
      </div>
   </div>
 </body>
