
<div class="col-xs-11 col-md-5 form-inline">

  <%= form_tag({:controller => "products", :action => "print", format: "pdf"},{:target => "_blank"}) do %>
  <%= number_field(:volume,:num,class:"form-control text-right",id:"amount_number_input",placeholder:"食数を入力") %>
 <!-- <input type="number" id="amount_number_input" class="form-control text-right" placeholder="食数を入力"> -->
  <input id="amount_calculation" type="button" onclick="" value="計算" class="btn btn-primary">
</div>

<div class="col-md-1 pull-right">
  <%= link_to "盛付用VIEW", "/products/serving_detail/#{@product.id}",method:"get", class:"btn btn-success",:target=>"_blank"%>
</div>
<!-- <div class="col-md-1 pull-right">
  <%= link_to("印刷する",{:controller => "products", :action => "print", format: "pdf"},{:target => "_blank",class:"btn btn-success"}) %>
</div> -->

<div class="col-md-2 pull-right">
  <input type="button" onclick="submit();" value="印刷ページ" class="btn btn-success">
</div>
<% end %>


<div class="amount_number col-xs-12 col-md-12">
</div>
<br>
<br>
<div class="col-md-6">
 <table class="table">
     <tr class="">
       <th class="active col-md-4">弁当名</th>
       <td class=""><%= @product.name %></td>
      </tr>
      <tr class="">
       <th class="active col-md-4">調理カテゴリー</th>
       <td><%= @product.cook_category %></td>
       </tr>
      <tr class="">
       <th class="active col-md-4">弁当種類</th>
       <td><%= @product.product_type %></td>
     </tr>
     <tr class="">
      <th class="active col-md-4">販売価格</th>
      <td><%= @product.sell_price %>円</td>
    </tr>
    <tr class="">
     <th class="active col-md-4">原価価格</th>
     <td><%= @product.cost_price %>円</td>
   </tr>
   <tr class="">
    <th class="active col-md-4">説明文</th>
    <td><%= @product.description %></td>
  </tr>
    <tr class="">
     <th class="active col-md-4">内容物</th>
     <td><%= @product.contents %></td>
   </tr>
 </table>
 </div>
 <div class="col-md-1">
</div>

<div class="col-md-2 text-center">
<%= image_tag @product.product_image.to_s ,class:"text-center img-responsive center-block" %>
</div>
   <table class="table">
     <thead>
       <tr class="active">
         <th>メニュー名</th>
         <th>カテゴリー</th>
         <th>メニュー原価</th>
         <th>レシピ</th>
         <th>盛り付けメモ</th>
         <th>食材資材名</th>
         <th colspan="2">使用量</th>
         <th colspan="2" class="calculate_amount_used_th" style="display: none;">使用量</th>

       </tr>
     </thead>
      <tbody>
        <% @menus.each do |menu| %>
          <tr  class="first_tr table_tr">
            <td class="menu_materials_length" style="display:none;"><%= menu.materials.length %></td>
            <td class="first_tr_td"><%= link_to "#{menu.name}", "/menus/#{menu.id}/edit", method: :get %></td>
            <td class="first_tr_td"><%= menu.category %></td>
            <td class="text-right first_tr_td"><%= menu.cost_price %>円</td>
            <td class="first_tr_td"><%= menu.recipe %></td>
            <td class="first_tr_td"><%= menu.serving_memo %></td>
            <% i = 1 %>
            <% u = menu.materials.length %>
            <% menu.menu_materials.each do |mm|%>
              <td><%= link_to mm.material.name, "/materials/#{mm.material_id}/edit", method: :get %></td>
              <td class="original_amount_used text-right"><%= mm.amount_used %></td>
              <td><%= mm.material.calculated_unit %></td>
              <td class="calculate_amount_used" style="display: none;"></td>
              <td class="calculate_unit" style="display: none;"><%= mm.material.calculated_unit %></td>
          </tr>
          <% if i == menu.materials.length  %>
            <% else %>
              <tr class="table_tr">
              <% i += 1 %>
            <% end %>
        <% end %>
       <% end %>
     </tbody>
   </table>

   <%= button_to 'お弁当を編集', "/products/#{@product.id}/edit", method: :get,class: "btn btn-primary" %>
