<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
  <li><a href="/products">お弁当一覧</a></li>
	<li class="active"><%= @product.name %></li>
</ol>

<div class="col-md-12 form-inline">
  <div class="col-xs-11 col-md-12 form-group">
		<div class="col-md-10">
	    <%= form_tag({:controller => "products", :action => "print", format: "pdf"},{:target => "_blank"}) do %>
	    <%= number_field(:volume,:id,value:params[:id],style:"display:none;") %>
	    <%= number_field(:volume,:num,class:"form-control text-right",id:"amount_number_input",placeholder:"食数を入力") %>
	    <input type="button" onclick="submit();" value="印刷ページ" class="btn btn-primary" style="margin:0 0 0 10px;" >
	    <%= link_to "盛付用VIEW", "/products/serving_detail/#{@product.id}",method:"get", class:"btn btn-primary",:target=>"_blank", style:"margin:0 0 0 10px;"%>
			<%= link_to "ラムさん", "/products/serving_detail_en/#{@product.id}",method:"get", class:"btn btn-primary",:target=>"_blank", style:"margin:0 0 0 10px;"%>
	    <% end %>
		</div>
		<div class="col-md-2">
			<%= button_to 'お弁当を編集', "/products/#{@product.id}/edit", method: :get,class: "pull-right btn btn-default" %>
		</div>
  </div>
</div>


<div class="amount_number col-xs-12 col-md-12">
</div>
<br>
<br>
<div class="col-md-6">
 <table class="table">
     <tr class="">
       <th class="active col-md-4">弁当名</th>
       <td class=""><%= @product.name %></td>
      </tr>
			<tr class="">
			 <th class="active col-md-4">bentoID</th>
			 <td><%= @product.bento_id %></td>
			 </tr>
      <tr class="">
       <th class="active col-md-4">調理カテゴリー</th>
       <td><%= @product.cook_category %></td>
       </tr>
      <tr class="">
       <th class="active col-md-4">弁当種類</th>
       <td><%= @product.product_type %></td>
     </tr>
     <tr class="">
      <th class="active col-md-4">販売価格</th>
      <td><%= @product.sell_price %>円</td>
    </tr>
		<tr class="">
     <th class="active col-md-4">原価価格（税込み）</th>
     <td><%= @product.cost_price %>円</td>
   </tr>
   <tr class="">
		 <th class="active col-md-4">説明文</th>
		 <td><%= simple_format(@product.description) %></td>
		</tr>
		<tr class="">
			<th class="active col-md-4">内容物</th>
			<td><%=simple_format( @product.contents) %></td>
		</tr>
		<tr class="">
			<th class="active col-md-4">アレルギー</th>
			<td>
				<% @allergies.each do |al| %>
					<%= al %>、
				<% end %>
			</td>
		</tr>
		<tr class="">
			<th class="active col-md-4">食品添加物</th>
			<td>
				<% @additives.each do |ad| %>
					<%= ad %>、
				<% end %>
			</td>
		</tr>
		<tr class="">
			<th class="active col-md-4">カロリー</th>
			<td>
				<%= "#{MenuMaterial.where(menu_id:@product.menus.ids).sum(:calorie).round(2)} kcal" %>
			</td>
		</tr>
		<tr class="">
			<th class="active col-md-4">帯表示</th>
			<td>
				<%= FoodIngredient.cehck_nutrition(@product) %>
			</td>
		</tr>
 </table>
 </div>
 <div class="col-md-1">
</div>

<div class="col-md-3 text-center">
<%= image_tag @product.product_image.to_s ,class:"text-center img-responsive center-block",style:'max-height:450px;' %>
</div>
<div class="col-md-12 active" style="padding:10px;">
  <div class="col-md-2">メニュー名</div>
	<div class="col-md-1">税込原価</div>
  <div class="col-md-2">レシピ</div>
  <div class="col-md-2">盛り付けメモ</div>
	<div class="col-md-5">
	  <div class="col-md-4">食材資材名</div>
	  <div class="col-md-2">使用量</div>
		<div class="col-md-1" style="padding-left:0">原価</div>
	  <div class="col-md-3" style="padding-left:0px;">仕込み</div>
	  <div class="col-md-2">仕込場</div>
	</div>
</div>
<ul class='list-group' style="list-style-type:none;">
<% @product.product_menus.each do |pm| %>
  <li class="first_tr table_tr col-md-12 list-group-item" style="padding:5px;">
		<div class="first_tr_td col-md-2">
			<div><%= link_to "#{pm.menu.name}", "/menus/#{pm.menu.id}/edit" %></div>
			<% if pm.used_ratio == 1 %>
				<div class='text-center' style='font-weight:bold;'>メニュー使用率：<%= number_to_percentage(pm.used_ratio*100,precision:0) %></div>
			<% else %>
				<div class='text-center' style='font-weight:bold;background-color:red;color:white;'>メニュー使用率：<%= number_to_percentage(pm.used_ratio*100,precision:0) %></div>
			<% end %>
			<div><%= "#{pm.menu.menu_materials.sum(:calorie).round(2)}kcal" %></div>
		</div>
		<div class="col-md-1"><%= pm.menu.cost_price * pm.used_ratio %></div>
    <div class="first_tr_td col-md-2"><%= text_url_to_link(simple_format(h(pm.menu.recipe))).html_safe %></div>
    <div class="first_tr_td col-md-2"><%= simple_format(pm.menu.serving_memo) %></div>
    <% i = 1 %>
    <% u = pm.menu.materials.length %>
    <div class="first_tr_td col-md-5">
      <ul class='col-md-12' style="list-style-type: none;padding:0;">
        <% pm.menu.menu_materials.each do |mm|%>
          <li class="menu_materials">
            <div class="col-md-4" style="padding:0;"><%= link_to mm.material.name, "/materials/#{mm.material_id}/edit" %></div>
            <div class="original_amount_used text-right col-md-2">
                <%= mm.amount_used * pm.used_ratio %> <%= mm.material.calculated_unit %></div>
						<div class="original_cost_price text-right col-md-1" style="padding-left:0">
                <%= (mm.amount_used * mm.material.cost_price).round(1)*pm.used_ratio %></div>
            <div class="col-md-3" style="padding:0;"><%= mm.preparation %></div>
            <div class="col-md-2"><%= mm.post %></div>
          <% if i == u  %>
            </li></div>
          <% else %>
            <li class="col-md-12">
            <% i += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
	</ul>
