<ol class="breadcrumb">
	<li><a href="/">ホーム</a></li>
  <li><a href="/products">お弁当一覧</a></li>
	<li class="active"><%= @product.name %></li>
</ol>

<div class="col-xs-11 col-md-12 form-inline">
  <div class="col-xs-11 col-md-12 form-group">
    <%= form_tag({:controller => "products", :action => "print", format: "pdf"},{:target => "_blank"}) do %>
    <%= number_field(:volume,:id,value:params[:id],style:"display:none;") %>
    <%= number_field(:volume,:num,class:"form-control text-right",id:"amount_number_input",placeholder:"食数を入力") %>
    <input type="button" onclick="submit();" value="印刷ページ" class="btn btn-primary" style="margin:0 0 0 10px;" >
    <%= link_to "盛付用VIEW", "/products/serving_detail/#{@product.id}",method:"get", class:"btn btn-success",:target=>"_blank", style:"margin:0 0 0 10px;"%>
		<%= link_to "ラムさん", "/products/serving_detail_en/#{@product.id}",method:"get", class:"btn btn-success",:target=>"_blank", style:"margin:0 0 0 10px;"%>
    <% end %>
    </div>
</div>


<div class="amount_number col-xs-12 col-md-12">
</div>
<br>
<br>
<div class="col-md-6">
 <table class="table">
     <tr class="">
       <th class="active col-md-4">弁当名</th>
       <td class=""><%= @product.name %></td>
      </tr>
			<tr class="">
			 <th class="active col-md-4">メニューSS連携ID</th>
			 <td><%= @product.bento_id %></td>
			 </tr>
      <tr class="">
       <th class="active col-md-4">調理カテゴリー</th>
       <td><%= @product.cook_category %></td>
       </tr>
      <tr class="">
       <th class="active col-md-4">弁当種類</th>
       <td><%= @product.product_type %></td>
     </tr>
     <tr class="">
      <th class="active col-md-4">販売価格</th>
      <td><%= @product.sell_price %>円</td>
    </tr>
    <tr class="">
     <th class="active col-md-4">原価価格</th>
     <td><%= @product.cost_price %>円</td>
   </tr>
   <tr class="">
    <th class="active col-md-4">説明文</th>
    <td><%= simple_format(@product.description) %></td>
  </tr>
    <tr class="">
     <th class="active col-md-4">内容物</th>
     <td><%=simple_format( @product.contents) %></td>
   </tr>
 </table>
 </div>
 <div class="col-md-1">
</div>

<div class="col-md-3 text-center">
<%= image_tag @product.product_image.to_s ,class:"text-center img-responsive center-block" %>
</div>
<div class="col-md-12 active" style="padding:10px;">
  <div class="col-md-2">メニュー名</div>
  <div class="col-md-2">レシピ</div>
  <div class="col-md-2">盛り付けメモ</div>
	<div class="col-md-6">
	  <div class="col-md-3">食材資材名</div>
	  <div class="col-md-2">使用量</div>
		<div class="col-md-1" style="padding-left:0">原価</div>
	  <div class="col-md-3" style="padding-left:0px;">仕込み</div>
	  <div class="col-md-3">仕込場</div>
	</div>
</div>
<ul class='list-group' style="list-style-type:none;">
<% @menus.each do |menu| %>
  <li class="first_tr table_tr col-md-12 list-group-item" style="padding:5px;">
    <div class="first_tr_td col-md-2"><%= link_to "#{menu.name}", "/menus/#{menu.id}/edit" %></div>
    <div class="first_tr_td col-md-2"><%= simple_format(menu.recipe) %></div>
    <div class="first_tr_td col-md-2"><%= simple_format(menu.serving_memo) %></div>
    <% i = 1 %>
    <% u = menu.materials.length %>
    <div class="first_tr_td col-md-6">
      <ul class='col-md-12' style="list-style-type: none;padding:0;">
        <% menu.menu_materials.order(:row_order).each do |mm|%>
          <li class="menu_materials">
            <div class="col-md-3" style="padding:0;"><%= link_to mm.material.name, "/materials/#{mm.material_id}/edit" %></div>
            <div class="original_amount_used text-right col-md-2">
                <%= mm.amount_used %> <%= mm.material.calculated_unit %></div>
						<div class="original_cost_price text-right col-md-1" style="padding-left:0">
                <%= (mm.amount_used * mm.material.cost_price).round(1) %></div>
            <div class="col-md-3" style="padding:0;"><%= mm.preparation %></div>
            <div class="col-md-2"><%= mm.post %></div>
          <% if i == u  %>
            </li></div>
          <% else %>
            <li class="col-md-12">
            <% i += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
<div class="col-md-12" style="margin:10px 10px 30px 0;">
   <%= button_to 'お弁当を編集', "/products/#{@product.id}/edit", method: :get,class: "btn btn-primary" %>
</div>
