<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
      	<div class="container-fluid">
      		<div class="navbar-header">
      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
      				<span class="sr-only">Toggle navigation</span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
              <span class="icon-bar"></span>
      			</button>
            <a class="navbar-brand" style="padding:12px 10px 8px 20px;" href="/"><img src="/assets/orderecipe.png" height="85%;"></a>
      		</div>

      		<div class="collapse navbar-collapse" id="navbarEexample">
              <% if user_signed_in? %>
                <ul class="nav navbar-nav">
                  <li class="menu_li"><a href="/orders">発注</a></li>
                  <li class="menu_li"><a href="/products">お弁当</a></li>
                  <li class="menu_li"><a href="/menus">メニュー</a></li>
                  <li class="menu_li"><a href="/materials">食材・資材</a></li>
                  <li class="menu_li"><a href="/vendors">仕入先</a></li>
                </ul>
                <div class="collapse navbar-collapse navbar-right" id="navbarEexample">
            			<ul class="nav navbar-nav">
                    <li class="menu_li">
                      <a id="google_translate_element"></a><script type="text/javascript">
                    	function googleTranslateElementInit() {
                    	  new google.translate.TranslateElement({pageLanguage: 'ja', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                    	}
                    	</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                    </li>
                    <!-- <li class="user_nav grid-6">
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                    </li> -->
                  </ul>
                </div>
              <% else %>
                <div class="collapse navbar-collapse navbar-right" id="navbarEexample">
            			<ul class="nav navbar-nav">
                    <li class="user_nav grid-6">
                      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
                    </li>
                  </ul>
                </div>
              <% end %>
      		</div>
      	</div>
      </nav>
    </header>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, raw(msg), :id => name, :class => "alert" %>
    <% end %>
    <div class="all_body">
      <%= yield %>
    </div>
    <div class="col-md-12 footer" style="height:20px;">

    </div>
  </body>
</html>
